<div class="row top-margin">
	<div class="col-md-3"><label>Nationality:</label></div>
	<div class="col-md-9">
		<select name="trip[user_nationality]">
			<% nationalities = [["-- select --", "0"]] + User::NATIONALITIES_ARRAY.drop(1) %>
			<% nationalities.each do |nationality| %>
				<% current_user && current_user.nationality == nationality[1] ? selected = "selected" : selected = "" %>
				<option value="<%= nationality[1] %>" <%= selected %>><%= nationality[0] %></option>
			<% end %>
		</select>
	</div>
</div>
<div class="row top-margin">
	<div class="col-md-3"><label>Occupation:</label></div>
	<div class="col-md-9">
		<input type="text" name="trip[user_occupation]" placeholder="Occupation" style="width:100%;" autocomplete="off" value="<%= current_user.try(:occupation) %>">
	</div>
</div>
<div class="row top-margin">
	<div class="col-md-3"><label>Reason For Trip:</label></div>
	<div class="col-md-9">
		<input type="text" name="trip[description]" placeholder="I am planning this trip because..." style="width:100%;" rows="10" autocomplete="off"><%= @trip.reason %></input>
	</div>
</div>
