<div class="row top-margin">
	<label class="col-md-4">Nationality:</label>
	<select name="trip[group_nationality]">
		<% nationalities = [["Any", "0"]] + User::NATIONALITIES %>
		<% nationalities.each do |nationality| %>
			<% @trip.group_nationality == nationality[1] ? selected = "selected" : selected = "" %>
			<option value="<%= nationality[1] %>" <%= selected %>><%= nationality[0] %></option>
		<% end %>
	</select>
</div>
<div class="row top-margin">
	<label class="col-md-4">Joining me from:</label>
  <%= f.select :group_departing_proximity, ['anywhere', 'my airport', 'my city', 'my country'],{}, {style: "width: 400px;"} %>
</div>
<div class="row top-margin">
	<label class="col-md-4">Relationship status:</label>
  <%= f.select :group_relationship_status, ['any', 'single(s)', 'in relationship(s)', 'engaged', 'married'],{}, {style: "width: 400px;"} %>
</div>
<div class="row top-margin">
	<label class="col-md-4">Drinks?:</label>
  <%= f.select :group_drinking, ['socially', 'heavily', 'now and then', 'not at all'],{}, {style: "width: 400px;"} %>
</div>
<div class="row top-margin">
	<label class="col-md-4">Personality:</label>
  <%= f.select :group_personality, ['any', 'active', 'relaxed', 'family oriented', 'party animal'],{}, {style: "width: 400px;"} %>
</div>



