<div class="container" style="margin-bottom:60px;">
	<div class="row top-margin">
		<div class="col-md-3">
			<%= render "static_pages/sidebar" %>
		</div>

		<div class="col-md-9">
			<div class="row">
				<div class="col-md-6" style="padding-right:0px;">
					<h3>Story...</h3>
					<p>
						A few years ago some good friends decided to plan a trip. Those friends invited friends of their own and we had a long email list of people interested in the adventure.
					</p>
					<p>
						What was interesting about this group was how most of us had not met each other and were only peripherally connected through mutual friends.
					</p>
					<p>
						During the trip we rented a house together, planned excursions, tours, dinners and in the end shared an incredible experience. Many of us became friends after only a fews weeks time and to this day we still keep in touch sharing stories about our experiences.
					</p>
					<p>
						Its amazing how much the travel experience brings people close together. Friendship bonds are formed in a short period of time and they endure with the possibility of reconnecting again on another trip.
					</p>
					<p>
						Tripsharing was born to connect people (who have not previously met) together for a travel adventure!
					</p>
					<% unless current_user %>
						<p>
							<a href="#" type="button" data-toggle="modal" data-target="#signinModal">
								Click here to JOIN
							</a>
						</p>
					<% end %>
				</div>
				<div class="col-md-6" style="padding-left:0px;">
					<%= scroll_reveal animation: 'enter right and move 50px over 1s' do %>
						<%= image_tag "group_pics/group_pic_beige.png", class: "img-responsive" %>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6" style="margin-top:100px; margin-bottom:60px;">
					<%= scroll_reveal animation: 'enter left and move 50px over 1s' do %>
						<%= render 'layouts/globe_faces' %>
					<% end %>	
				</div>
				<div class="col-md-6">
					<h3>Today...</h3>
					<p>
						We are a growing community of travelers and adventurers open to sharing travel, creating new experiences, and forming friendships.
					</p>
					<p>
						Members have the opportunity to plan trips that specify their own preferences so only members who meet your criteria (age, gender, etc.) can join you.
					</p>
					<p>
						Interested travel companions can stay notified by following trips, regions, and other members.
					</p>
					<% unless current_user %>
						<p>
							<a href="" data-toggle="modal" data-target="#tripNewModal" href="#"> Get started by planing a Trip</a>
						</p>
					<% end %>

				</div>
			</div>

		</div>

	</div>
</div>
