<div class="container" style="margin-bottom:60px;">
	<div class="row top-margin">
		<div class="col-md-3">
			<%= render "static_pages/sidebar" %>
		</div>

		<div class="col-md-9">
			<div class="row">
				<div class="col-md-6" style="padding-right:0px;">
					<h3>The Story...</h3>
					<p>
						A few years ago some of my good friends decided to plan a trip. Those friends invited friends of their own and we had a long email list of people interested in the adventure.
					</p>
					<p>
						Most of us had not met each other and we were only peripherally connected through mutual friends.
					</p>
					<p>
						During the trip we shared lodging, enjoyed excursions, tours, dinners and in the end had an incredible experience. Many of us became friends after only two weeks. To this day we still keep in touch.
					</p>
					<p>
						Travel brings people close together and traveling with people you've not previously met opens you up to new experiences.
					</p>
					<p>
						Tripsharing was born to connect people (who have not previously met) abroad. Plan and share a new adventure!
					</p>
					<% unless current_user %>
						<p>
							<a href="#" type="button" data-toggle="modal" data-target="#signinModal">
								Click here to JOIN
							</a>
						</p>
					<% end %>
				</div>
				<div class="col-md-6" style="padding-left:0px;">
					<%= scroll_reveal animation: 'enter right and move 50px over 1s' do %>
						<%= image_tag "group_pics/group_pic_beige.png", class: "img-responsive" %>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6" style="margin-top:100px; margin-bottom:60px;">
					<%= scroll_reveal animation: 'enter left and move 50px over 1s' do %>
						<%= render 'layouts/globe_faces' %>
					<% end %>	
				</div>
				<div class="col-md-6" style="margin-top:60px;">
					<h3>Today...</h3>
					<p>
						We are a growing community of travelers and adventurers open to sharing travel, experiences, and new friendships.
					</p>
					<p>
						Members have the opportunity to plan trips with specific preferences to be matched with ideal travel companions.
					</p>
					<p>
						Interested travel companions can stay notified by following trips, regions, and other members.
					</p>
					<% unless current_user %>
						<p>
							<a href="" data-toggle="modal" data-target="#tripNewModal" href="#"> Get started by planing a Trip</a>
						</p>
					<% end %>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<%= link_to "LEARN MORE <i class='fa fa-arrow-right'></i>".html_safe, how_it_works_path, class: "btn btn-primary pull-right", style: "margin-top: 40px;" %>
				</div>
			</div>
		</div>

	</div>
</div>
