<div class="container" style="margin-bottom:60px;">
	<div class="row top-margin">
		<div class="col-md-3">
			<%= render "static_pages/sidebar" %>
		</div>

		<div class="col-md-9">
			<div class="row">
				<div class="col-md-6" style="padding-right:0px; padding-top:80px; font-size: 120%;">
					<p>
						We are a growing community of travelers and adventurers open to sharing travel, experiences, and new friendships.
					</p>
					<p>
						Travel brings people close together. It gives you the opportunity to be your true self and connect with others on a deeper level.
					</p>
					<p>
						Tripsharing was born to connect travelers together. Plan and share a new adventure!
					</p>
					<% unless current_user %>
						<p>
							<a href="#" type="button" data-toggle="modal" data-target="#signinModal">
								Click here to JOIN
							</a>
						</p>
					<% end %>
				</div>
				<div class="col-md-6" style="padding-left:0px;">
					<%= scroll_reveal animation: 'enter right and move 50px over 1s' do %>
						<%= image_tag "group_pics/group_pic_beige.png", class: "img-responsive" %>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6" style="margin-top:100px; margin-bottom:60px;">
					<%= scroll_reveal animation: 'enter left and move 50px over 1s' do %>
						<%= render 'layouts/globe_faces' %>
					<% end %>	
				</div>
				<div class="col-md-6" style="margin-top:120px; font-size: 120%;">
					<p>
						Members have the opportunity to plan trips of which interested travel companions my apply.
					</p>
					<p>
						You can follow trips, regions, and other members that interest you, or simply browse the active trips!
					</p>
					<% unless current_user %>
						<p>
							<a href="" data-toggle="modal" data-target="#tripNewModal" href="#"> Get started by planing a Trip</a>
						</p>
					<% end %>

				</div>
			</div>

		</div>

	</div>
</div>
