<div id="home">
	<div id="home-background">
		<div class="container">
			<div class="row">
			  <div class="col-md-10 col-md-offset-1">
			    <div class="signup-well">
						<div class="pull-right">
							<!-- Button trigger modal -->
							<div class="no-height">
								<button type="button" id="login-link" class="btn btn-default" data-toggle="modal" data-target="#signinModal" style="position:relative;z-index:5;">
								  Log In
								</button>
							</div>
							<%= render "sessions/signin_modal" %>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="center">
									<%= link_to "about" %>
									&#183;
									<%= link_to "https://www.facebook.com/trip.sharing.1", target: "_blank", class: "fb-link" do %>
										<i class="fa fa-facebook"></i>
									<% end %>
									&#183;
									<%= link_to "https://twitter.com/Trip_Sharing", target: "_blank", class: "tw-link" do %>
										<i class="fa fa-twitter"></i>
									<% end %>
								</div>
							</div>
						</div>
			      <div class="center" style="font-size: 200%; margin-top:30px;">
							<%= image_tag("globe-icon-planes-100.png", style: "margin-left:5px;", id: "globe") %>
	            <span id="logo">TripSharing<span class='blue tiny'>beta</span></span>
						</div>
						<h1 id="tagline" class="center black" style="font-size: 150%; margin-bottom:20px; margin-top:20px;">
							<%= scroll_reveal animation: 'enter right and move 50px over 1s' do %>
								Match. Meet. Travel...
							<% end %>
						</h1>
						<h1 id="tagline2" class="center black" style="font-size: 150%; margin-bottom:20px; margin-top:20px;">
							
						</h1>

						<%= render 'static_pages/survey' %>
						
						<div id="signup">
							<%= render 'sessions/signup' %>
						</div>
						
			    </div>
			  </div>
			</div>
		</div>
	</div>

</div>