<div id="home">
	<div id="home-background">
		<div class="container">
			<div class="row">
			  <div class="col-md-10 col-md-offset-1">
					<div class="no-height"><div class="center"><%= image_tag "world_map.jpg", style: "position:relative; top:36px; right:-18px;", class: "visible-lg-block" %></div></div>
			    <div class="signup-well">

						<div class="pull-right">
							<!-- Button trigger modal -->
							<div class="no-height">
								<%= link_to "sign up", "#", style: "position:relative;z-index:5;left:-5px;", id: "signuplink" %>
								<button type="button" id="login-link" class="btn btn-default" data-toggle="modal" data-target="#signinModal" style="position:relative;z-index:5;">
								  Log In
								</button>
							</div>
							<%= render "sessions/signin_modal" %>
						</div>
						<div class="row" style="margin-top:3px;">
							<div class="col-md-12">
								<div class="center">
									<%= link_to "https://www.facebook.com/trip.sharing.1", target: "_blank", class: "fb-link" do %>
										<i class="fa fa-facebook"></i>
									<% end %>
									&#183;
									<%= link_to "https://twitter.com/Trip_Sharing", target: "_blank", class: "tw-link" do %>
										<i class="fa fa-twitter"></i>
									<% end %>
								</div>
							</div>
						</div>
						<div class="world_background">
							<div class="center" style="font-size: 200%; margin-top:30px;">
								<%= image_tag("globe-icon-planes-100.png", style: "margin-left:5px;", id: "globe") %>
		            <span id="logo">TripSharing</span>
							</div>
							<h1 id="tagline" class="center black" style="font-size: 150%; margin-bottom:80px; margin-top:20px; position:relative; z-index:2;">
								<%= scroll_reveal animation: 'enter right and move 50px over 1s' do %>
									<%= t('application.root.slogan') %>
								<% end %>
							</h1>
							<h1 id="tagline2" class="center black" style="font-size: 150%; margin-bottom:80px; margin-top:20px; position:relative; z-index:2;">
							</h1>
						</div>

						<div id="survey" style="border 1px solid black;">
							<%= render 'static_pages/survey' %>
						</div>
						
						<div id="signup">
							<%= render 'sessions/signup' %>
						</div>
						
			    </div>
			  </div>
			</div>
		</div>
	</div>

</div>