<% type == "small" ? cal_class = "trip-cal-sm" : cal_class = "trip-cal" %>
<div class="<%= cal_class %>">
	<div class="trip-cal-header">
		<%= Trip::DURATIONS[trip.duration] unless trip.duration == "6" || trip.duration == "7" %>
	</div>
	<div class="trip-cal-body" title="Departing date">
		<% unless type == "small" %>
			<div class="no-height left">
				<div style="position:relative; top:-12px; left: -2px;"><small style="color: grey;">Departing:</small></div>
			</div>
		<% end %>
		<% if trip.departs_at.present? %>
			<div class="trip-cal-month">
				<%= trip.departs_at.strftime('%B') %>
			</div>
			<div class="trip-cal-day">
				<%= trip.departs_at.strftime('%-d') %>
			</div>
			<% unless type == "small" %>
				<div class="trip-cal-month" style="margin-top:3px;">
					<%= trip.departs_at.strftime('%Y') %>
				</div>
			<% end %>
		<% elsif trip.departing_category.present? %>
			<div class="trip-cal-month">
				<%= get_month_text(trip.departing_category) %>
			</div>
			<div class="trip-cal-day">
				<%= get_day_text(trip.departing_category).html_safe %>
			</div>

		<% else %>
			<div class="trip-cal-day" style="margin-top: .3em;">
				???
			</div>
		<% end %>
	</div>
</div>