<div class="row">

	<div class="col-md-7">
		<ul class="list-unstyled big" style="padding-top:10px; line-height:150%;">
			<li><i class="fa fa-globe fa-fw"></i>&nbsp;&nbsp; <%= Trip::REGIONS[@trip.region ] %></li>
			<li><i class="fa fa-group fa-fw"></i>&nbsp;&nbsp; Ages: <%= age_text(@trip.group_age_min, @trip.group_age_max) %></li>
		  <li><i class="fa fa-plane fa-fw"></i>&nbsp;&nbsp;
				<% if @trip.group_count == "5" %>
					???
				<% else %>
					<%= Trip::GROUP_COUNT[@trip.group_count] %>
				<% end %>
				<% if @trip.group_count == "1" %>
					spot
				<% else %>
					spots
				<% end %>
			</li>
			<li><i class="fa fa-clock-o fa-fw"></i>&nbsp;&nbsp; <%= time_flexibility_text(@trip.time_flexibility) %></li>
		</ul>
	</div>
	<div class="col-md-5">
		<div class="margin-top:10px;">
			<%= render "trips/calendar", trip: @trip, type: "big" %>
		</div>
		
	</div>
</div>