<%= form_for @trip do |f| %>
  <%= render "shared/error_messages", object: f.object %>
	<div class="row" style="margin-top:10px; margin-bottom:10px;">
		<div class="col-md-2"><div class="right"><label>Region:</label></div></div>
		<div class="col-md-10">
			<%= f.select :region, Trip::REGIONS_ARRAY %>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-2"><div class="right"><label>When:</label></div></div>
		<div class="col-md-10">
			<%= f.select :departing_category, Trip::DEPARTINGS_ARRAY, prompt: "-- select --" %>
		</div>
	</div>
	<div class="row" style="margin-bottom:10px;">
		<div class="col-md-2"><div class="right"><label>Departing:</label></div></div>
		<div class="col-md-4">
			<% @trip.departs_at.present? ? departs_at_value = @trip.departs_at.strftime('%m/%d/%Y') : departs_at_value = "" %>
			<input class="datepicker" id="trip_departs_at" placeholder="mm/dd/yyyy" name="trip[departs_at]" data-date-format="mm/dd/yyyy" value="<%= departs_at_value %>">
		</div>
		<div class="col-md-2"><div class="right"><label>Returning:</label></div></div>
		<div class="col-md-4">
			<% @trip.returns_at.present? ? returns_at_value = @trip.returns_at.strftime('%m/%d/%Y') : returns_at_value = "" %>
			<input class="datepicker" id="trip_returns_at" placeholder="mm/dd/yyyy" name="trip[returns_at]" data-date-format="mm/dd/yyyy" value="<%= returns_at_value %>">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"><div class="right"><label>Duration:</label></div></div>
		<div class="col-md-10">
			<%= f.select :duration, Trip::DURATIONS_ARRAY %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"><div class="right"><label>Flexibility:</label></div></div>
		<div class="col-md-10">
			<%= f.select :time_flexibility, Trip::FLEXIBILITY_ARRAY %>
		</div>
	</div>
	<hr>
  <%= f.submit "Save", data: { disable_with: "Saving..." }, class: "btn btn-danger" %>

<% end %>
