<%= form_for @trip do |f| %>
  <%= render "shared/error_messages", object: f.object %>
	<div class="row">
		<label class="col-md-2 right">Trip Name:</label>
	  <%= f.text_field :name, class: "col-md-9", autocomplete: :off, style: "padding-left:3px;" %>
	</div>
	<div class="row" style="margin-top:10px;">
		<label class="col-md-2 right">Region:</label>
	  <%= f.select :region, Trip::REGIONS %>
	</div>
	<div class="row" style="margin-top:5px;margin-bottom:20px;">
		<label class="col-md-2 right">Description:</label>
	  <%= f.text_area :description, placeholder: "Description...", class: "col-md-9", rows: 7, autocomplete: :off, style: "padding-left:3px;border-color: #DBDBDB;" %>
	</div>
	<hr>
	<div class="row">
		<label class="col-md-2 right">Status:</label>
		<%= f.select :state, Trip::STATES_ARRAY, {prompt: "--select--"} %>
	</div>
	<div class="row">
		<label class="col-md-2 right">Ages:</label>
		<%= f.select :group_age_min, ('18'..'65').to_a, {prompt: "--min--"} %>
		to
	  <%= f.select :group_age_max, ('18'..'65').to_a, {prompt: "--max--"} %>
	</div>
	<div class="row">
		<label class="col-md-2 right">Group:</label>
	  <%= f.select :group_age_max, ('1'..'30').to_a %>
		traveler(s)
	</div>
	<hr>
	<div class="row">
		<label class="col-md-2 right">Duration:</label>
		<%= f.select :duration_in_days, 1..30 %>
		day(s)
	</div>
	<div class="row" style="margin-bottom:10px;">
		<label class="col-md-2 right">Departing:</label>
		<%= f.date_field :departs_at %>
	</div>
	<div class="row">
		<label class="col-md-2 right">Cost est:</label>
		<%= f.number_field :price_dollars_low, style: "width:60px;" %>
		to
	  <%= f.number_field :price_dollars_high, style: "width:60px;"  %>
		<%= f.select :currency, Trip::CURRENCIES %>
	</div>
	<hr/>
  <%= f.submit "Save", disable_with: 'Saving...', class: "btn btn-danger" %>

<% end %>
