<%= form_for @new_trip, html: {class: "form-fancy"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
	<div class="row">
		<label class="col-md-2 right">Region:</label>
	  <%= f.select :region, Trip::REGIONS_ARRAY %>
	</div>
	
	<div class="row" style="margin-top:10px;">
		<label class="col-md-2 right">Trip Name:</label>
	  <%= f.text_field :name, class: "col-md-9", autocomplete: :off, style: "padding-left:3px;" %>
	</div>
	<div class="blankey" style="display:none;">
    <h4>Leave this field blank to prevent spam:</h4>
    <%= text_field_tag :blankey %>
  </div>
	<hr/>
  <div class="row">
  	<div class="col-md-12">
  		<button type="submit" class="btn btn-default btn-lg fancy-dark"> BEGIN </button>
  	</div>
  </div>

<% end %>