<%= form_for @new_trip, html: {class: "form-fancy form-inline"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>

	<div class="transparent_background">
		<div class="transparent_background_child">
			
		  <div class="form-group">
		    <%= f.select :region, Trip::REGIONS_ARRAY, {prompt: "-- REGION --"}, {required: true} %>
		  </div>
		  <div class="form-group">
				<%= f.text_field :name, autocomplete: :off, style: "padding-left:3px; width: 24em;", placeholder: "Name (ex: Annual cities tour of Southeast Asia)", required: true %>
		  </div>
			<div class="blankey" style="display:none;">
		    <h4>Leave this field blank to prevent spam:</h4>
		    <%= text_field_tag :blankey %>
		  </div>
		  <span style="position:relative; top:-2px;">
		  	<%= f.button "CREATE TRIP", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Submitting..." }, class: "btn btn-lg btn-salmon" %>
		  </span>
			
		</div>
	</div>

<% end %>