<%= form_for @new_trip, html: {class: "form-fancy"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
	<div class="row">
		<label class="col-md-2 right">Region:</label>
	  <%= f.select :region, Trip::REGIONS_ARRAY %>
	</div>
	<!-- 
	<select>
      <optgroup label="Group 1">
          <option>Item 1</option>
          <option>Item 2</option>
          <option>Item 3</option>
      </optgroup>
      <optgroup label="Group 2">
          <option>Item 1</option>
          <option>Item 2</option>
          <option>Item 3</option>
      </optgroup>
  </select>
	 -->
	<div class="row" style="margin-top:10px;">
		<label class="col-md-2 right">Trip Name:</label>
	  <%= f.text_field :name, class: "col-md-9", autocomplete: :off, style: "padding-left:3px;", required: true %>
	</div>
	<div class="row">
		<div class="col-md-9 col-md-offset-2" style="padding-left:0px;">
			<small>Ex: Annual cities tour of Southeast Asia</small>
		</div>
	</div>
	<div class="blankey" style="display:none;">
    <h4>Leave this field blank to prevent spam:</h4>
    <%= text_field_tag :blankey %>
  </div>
	<hr/>
  <div class="row">
  	<div class="col-md-12">
			<div class="pull-right">
				<%= f.button "LAUNCH TRIP BUILDER", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Submitting..." }, class: "btn btn-lg btn-salmon" %>
			</div>
  	</div>
  </div>

<% end %>