<div class="row bottom-margin center">
	<div class="col-md-3 col-md-offset-1">
		<%= link_to @trip.user do %>
			<%= user_image(@trip.user) %>
		<% end %>
	</div>
	<div class="col-md-7" style="padding-top:5px;">
		<div class="">
			<%= @trip.user.full_name %>
		</div>
		<div class="">
			<%= @trip.user.age %>, <%= @trip.user.gender.capitalize %>
		</div>
	</div>
</div>
