<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
		<!--  
		<li role="presentation"><a href="#itinerary" aria-controls="itinerary" role="tab" data-toggle="tab">Itinerary</a></li>
		<li role="presentation"><a href="#activities" aria-controls="activities" role="tab" data-toggle="tab">Activities</a></li>
		<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    -->
		<li role="presentation"><a href="#travelers" aria-controls="travelers" role="tab" data-toggle="tab">Travelers</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content trip-content">
    <div role="tabpanel" class="tab-pane active" id="description">
			<div id="trip-description-form" style="display:none;">
				<%= render "trips/description_form" %>
			</div>
			<% if @trip.description.present? %>
				<div class="description">
					<%= simple_format(@trip.description)%>
				</div>
				<a href="#" id="edit-description" class="grey-link">
					edit
				</a>
			<% elsif current_user && current_user == @trip.user %>
			
				<div class="center">
					<a href="#" id="add-description" class="grey-link">
					  <i class="fa fa-plus-circle" style="font-size:1000%; margin-top:20px;"></i>
						<h3>Add Description</h3>
					</a>
				</div>
			<% else %>
				<div class="center grey">
					<i class="fa fa-align-center" style="font-size:1000%; margin-top:20px;"></i>
					<h3>No Description Available</h3>
				</div>
			<% end %>	
			
		</div>
		<!--
		<div role="tabpanel" class="tab-pane" id="itinerary">
			<% @trip.locations.each do |location| %>
				<div class="row">
					<div class="col-md-3">
						<i class="fa fa-plane"></i>
						<%= @trip.departs_at %>
					</div>
					<div class="col-md-9">
						Arrive at
						<span class="turquoise_dark"><i class="fa fa-map-marker"></i> <%= location.unparsed %></span>
					</div>
				</div>
			<% end %>
		</div>
    <div role="tabpanel" class="tab-pane" id="activities">activities...</div>
		<div role="tabpanel" class="tab-pane" id="messages">messages...</div>
		-->
		<div role="tabpanel" class="tab-pane" id="travelers">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-2">
							<% if @trip.user.fb_image.present? %>
								<%= image_tag @trip.user.fb_image, class: "image img-responsive" %>
							<% else %>
								<%= image_tag "default_profile_image.png", class: "image img-responsive" %>
							<% end %>
						</div>
						<div class="col-md-10" style="border-left: 1px solid grey;">
							<p class="no-margin" style="line-height:130%;">

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    
  </div>
</div>













