<div class="trip-well">
  <% if trip.inactive? %>
    <div class="no-height">
      <div class="trip-status grey-background">
        <div class="center">
          INACTIVE
        </div>
      </div>
    </div>
  <% end %>


	<div class="hide-overflow-87">
		<div class="trip-name">
			<%= link_to trip do %>
				<%= truncate(trip.name, length: 90) %>
			<% end %>
		</div>
		<%= link_to trip do %>
			<%= trip_image_landscape_small(trip) %>
		<% end %>
	</div>
	<div class="trip-well-body">
		<div class="row">
			<div class="col-md-12">
				<div style="height:50px; overflow:hidden;" class="heavy">
					<% if trip.user.present? %>
						<%= link_to trip.user, class: "no-decoration" do %>
							<%= user_image(trip.user, "50x50", trip.user.full_name) %>
						<% end %>
					<% else %>
						<%= image_tag("default_profile_image.png", class: "image user-image", size: "50x50") %>
					<% end %>

					<% if trip.incomplete? %>
						<span class="big">INCOMPLETE</span>
					<% else %>
						<%= link_to trip, class: "grey-dark-link" do %>
							SEEKING:
							<% if trip.group_count == "9" %>
								<span class="big">??? </span>
							<% else %>
								<span class="big"><%= Trip::GROUP_COUNT[trip.group_count] %> </span>
							<% end %>
							<% if trip.group_count == "1" %>
								TRAVELER
							<% else %>
								TRAVELERS
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div style="height:125px; margin-top:10px; overflow:hidden;">
			<div class="row">
				<div class="col-xs-8">
					<ul class="list-unstyled heavy" style="line-height: 150%; margin-top:10px;">
						<li><i class="fa fa-group fa-fw"></i>&nbsp;&nbsp; Ages: <%= age_text(trip.group_age_min, trip.group_age_max) %></li>
						<li><i class="fa fa-clock-o fa-fw"></i>&nbsp;&nbsp; <%= time_flexibility_text(trip.time_flexibility) %></li>
					</ul>
				</div>
				<div class="col-xs-4">
					<%= render "trips/calendar", trip: trip, type: "small" %>
				</div>
			</div>
			<div class="row" style="margin-top:10px;">
				<div class="col-md-12">
					<div class="small" style="font-size:84%; line-height:130%;">
						ACTIVITIES:
						<% if trip.tags.any? %>
							<% last_id = trip.tags.last.id %>
							<% trip.tags.each do |t| %>
								<% if current_user %>
									<%= link_to "#{t.name}", "/trips?search=true&tag=#{t.name}" %><%= "," unless last_id == t.id %>
								<% else %>
									<a href="#" data-toggle="modal" data-target="#signinModal" class="signup-link"><%= t.name %></a>
								<% end %>
							<% end %>
						<% else %>
							n/a
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="trip-first-stop">
			<div class="row">
				<div class="col-md-12">
					<small><%= Trip::REGIONS[trip.region] %>:</small><br>
					<div class="trip-departs-to">
						<i class="fa fa-map-marker" style="margin-left:4px;margin-right:2px;"></i>
						<% if trip.stops.any? %>
							<%= trip.stops.first.to_name_dest %>
						<% else %>
							Unknown
						<% end %>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<% if current_user %>
						<% if current_user?(trip.user) %>
							<div class="pull-right">
								<%= link_to "<i class='fa fa-check'></i> following".html_safe, "#", title: "Your trip", class: "btn btn-turquoise btn-sm", disabled: true %>
							</div>
						<% else %>
							<% if joinable == true %>
								<%= render "join_requests/join_btn", trip: trip, btn_size: "btn-sm", join_text: "JOIN" %>
								<%= render "trips/modals/new_join_request_modal", trip: trip %>
							<% end %>
							<div class="pull-right">
								<%= render "followings/following_btn", resource: trip, btn_size: "btn-sm" %>
							</div>
						<% end %>
					<% else %>
						<a href="#" data-toggle="modal" data-target="#signinModal" class="btn btn-default btn-sm signup-link" role="button"><i class='fa fa-comment-o'></i> JOIN</a>
						<div class="pull-right">
							<a href="#" data-toggle="modal" data-target="#signinModal" class="btn btn-turquoise-hover btn-sm signup-link" role="button">Follow</a>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>



