<div class="modal fade" id="tripImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="myModalLabel">Images</h4>
			</div>
			<div class="modal-body">
				<% if @trip.image_attachments.any? && @trip.image_attachments.count != 0 %>
					<div class="row">
						<div class="col-md-12">
							<%= form_tag "/trips/#{@trip.slug}/remove_images", method: :delete do %>
								<% @trip.image_attachments.each do |image_attachment| %>
									<% unless image_attachment.new_record? %>
										<div class="checkbox inline" style="margin-left:-20px;margin-right:10px;">
										  <label>
												<input type="checkbox" name="remove_image[<%= image_attachment.id %>]" style="display:none;">
												<%= image_tag(image_attachment.image.url(:thumb), class: "checkbox-image").to_s %>
										  </label>
										</div>
									<% end %>
								<% end %>
								<br>
								<br>
								<%= button_tag "Remove Selected", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Removing..." }, class: "btn btn-default" %>
							<% end %>
						</div>
					</div>
					<hr>
				<% end %>
				<label>Add Image (Maximum of 5 images)</label>
			  <div class="row" style="margin-top:10px;">
					<div class="col-md-12">
						<% if @trip.image_attachments.any? && @trip.image_attachments.count > 4 %>
							<em>No more images can be added.</em>
						<% else %>
							<%= render "trips/image_form" %>
						<% end %>
					</div>
				</div>
			</div>
    </div>
  </div>
</div>
