<div class="col-md-4">
	<div class="trip-well active">
	  <% if trip.inactive? %>
	    <div class="no-height">
	      <div class="trip-status grey-background">
	        <div class="center">
	          INACTIVE
	        </div>
	      </div>
	    </div>
	  <% end %>
	  <% if trip.image_attachments.any? %>
			<% image_path = trip.image_attachments.first.image.url(:medium) %>
	  <% else %>
	    <% image_path = "trip_defaults/" + trip.default_image + "_small.jpg" %>
	  <% end %>
		<div class="hide-overflow-87">
			<%= link_to trip do %>
				<%= image_tag(image_path, class: "img-responsive", title: trip.name).to_s %>
			<% end %>
		</div>
		<div class="trip-name">
			<%= link_to trip do %>
				<%= truncate(trip.name, length: 100) %>
			<% end %>
		</div>
		<div class="trip-well-body">
		  <div class="icons">
		    <div class="black">
		      <i class="icon-map-marker" style="margin-left:.2em;margin-right:.7em;"></i>
		      Chicago,
					<%= trip.region %>
		      <br/>
					 <i class="icon-group" style="margin-right:.2em;"></i>
					<%= trip.group_count %>
					<br>
					<i class="icon-facebook" style="margin-left:.2em;margin-right:.7em;"></i>
					<%= pluralize(["2","3","4","5","6","7"].shuffle.first.to_i, "mutual friends") %>
					<div class="no-height">
						<div class="right">
							<div style="position:relative; bottom:20px;">
								<%= "$" * ["1","2","3"].shuffle.first.to_i %>
							</div>
						</div>
					</div>
		    </div>
		  </div>
		</div>
	</div>
</div>


