<div class="row">
	<div class="col-md-12">
		<div class="big top-margin">
			<% if @trip.departs_at.present? && @trip.returns_at.present? %>
				<%= @trip.departs_at.strftime('%-m/%d/%y') %> - <%= @trip.returns_at.strftime('%-m/%d/%y') %>,
			<% else %>
				<%= Trip::DURATIONS[@trip.duration] %>,
			<% end %>
			<%= Trip::REGIONS[@trip.region] %>
			<small style="font-size:60%;">
				<% if current_user && current_user == @trip.user && @trip.active? %>
					<a href="#" type="button" class="grey-link" style="font-family:inherit;" data-toggle="modal" data-target="#tripEditModal">
					 change
					</a>
				<% end %>
			</small>
			<span class="pull-right">
				Leaving:
				<% if @trip.departs_at.present? %>
					<%= javascript_tag do %>
					  window.tripDepartsAt = "<%=j (@trip.departs_at.to_f * 1000).to_s%>";
					<% end %>
					<span id="defaultCountdown"></span>
				<% elsif @trip.departing_category.present? %>
					<%= Trip::DEPARTINGS[@trip.departing_category].capitalize %>
				<% else %>
					tbd
				<% end %>
			</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div style="margin-top:0px;">
			<% if current_user && current_user == @trip.user && @trip.active? %>
				<div class="no-height">
					<a href="#" type="button" class="grey-link bigger" style="font-family:inherit;" data-toggle="modal" data-target="#tripImageModal">
						<i id="trip-image-modal" class='fa fa-camera' style="margin-left:5px; margin-top:5px;display:none;"></i>
					</a>
				</div>
			<% end %>
			<% current_user?(@trip.user) ? add_class = "pointer" : add_class = "" %>
			<% if @trip.image_attachments.count != 0 && @trip.image_attachments.first.image.landscape.file.exists? %>
				<% img_path = @trip.image_attachments.first.image.url(:landscape).to_s %>
			<% else %>
				<% img_path = "trip_defaults/#{Trip::REGIONS[@trip.region].parameterize.tr("-", "_")}/" + @trip.default_image + ".jpg" %>
			<% end %>
			<%= image_tag img_path, class: "img-responsive trip-pic #{add_class}", title: "cover photo" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div id="trip-name-tags-form" style="display:none;" class="edit-trip-name">
			<%= render "trips/name_tags_form" %>
		</div>
		<div class="trip-name">
			<h1>
				<%= @trip.name %>
			</h1>
			<% if @trip.tags.any? %>
				<div class="center" style="padding-bottom:10px;">
					<% last_id = @trip.tags.last.id %>
					<% @trip.tags.each do |t| %>
						<%= link_to "##{t.name}", "/trips?search=true&tag=#{t.name}" %><%= "," unless last_id == t.id %>
					<% end %>
				</div>
			<% end %>
			<% if current_user && current_user == @trip.user && @trip.active? %>
				<%= link_to "edit", "#", id: "edit-name-tags", class: "grey-link pull-right", style: "position:relative; top:-1.7em;left:-.5em;" %>
			<% end %>
		</div>
	</div>
</div>
<hr>
<%= render "trips/description" %>
<hr style="margin-top:60px;">
<%= render "trips/itinerary" %>

<% if current_user && current_user == @trip.user && @trip.active? %>
	<div class="row top-margin">
		<div class="col-md-12">
			<div class="center">
				<small><%= link_to "deactivate my trip", trip_deactivate_path(@trip), method: :delete, data: { confirm: 'Are you sure?' } %></small>
			</div>
		</div>
	</div>
<% end %>
