<div class="trip-well">
  <% if trip.inactive? %>
    <div class="no-height">
      <div class="trip-status grey-background">
        <div class="center">
          INACTIVE
        </div>
      </div>
    </div>
  <% end %>


	<div class="hide-overflow-87">
		<div class="trip-name">
			<%= link_to trip do %>
				<%= truncate(trip.name, length: 90) %>
			<% end %>
		</div>
		<%= link_to trip do %>
			<%= trip_image_landscape_small(trip) %>
		<% end %>
	</div>
	<div class="trip-well-body">
		<div class="row">
			<div class="col-md-12">
				
				<%= link_to trip.user, class: "no-decoration" do %>
					<%= user_image(trip.user) %>
				<% end %>
				
				<% if trip.incomplete? %>
					<span class="big">INCOMPLETE</span>
				<% else %>
					<%= link_to trip, class: "grey-dark-link" do %>
						<i class="fa fa-plus"></i>
						<span class="big"><%= spot_count(trip.group_count) %></span>
					<% end %>
				<% end %>
			</div>
		</div>
		<div style="height:90px; margin-top:10px; overflow:hidden;">
			<div class="row">
				<div class="col-xs-6">
					<div class="row">
						<div class="col-sm-12">
							<div class="regular">
								<i class="fa fa-clock-o" style="margin-left:1px;margin-right:7px;"></i>
								<% if trip.departs_at.present? %>
									<%= time_ago_in_words(trip.departs_at)  %>
								<% elsif trip.departing_category.present? %>
									<%= Trip::DEPARTINGS[trip.departing_category].capitalize %>
								<% else %>
									tbd
								<% end %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="regular">
								<i class="fa fa-group" style="margin-right:5px;"></i>
								Ages <%= age_text(trip.group_age_min, trip.group_age_max) %>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="row">
						<div class="col-sm-12">
							<div class="pull-right">
								<%= Trip::REGIONS[trip.region] %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="pull-right">
								<% if trip.departs_at.present? && trip.returns_at.present? %>
									<%= trip.departs_at.strftime('%-m/%d/%y') %> - <%= trip.returns_at.strftime('%-m/%d/%y') %>
								<% else %>
									<%= Trip::DURATIONS[trip.duration] %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:27px;">
				<div class="col-md-12">
					<div class="small" style="font-size:84%; line-height:130%;">
						<% trip.tags.any? ? last_id = trip.tags.last.id : last_id = "" %>
						<% trip.tags.each do |t| %>
							<%= link_to "##{t.name}", "/trips?search=true&tag=#{t.name}" %><%= "," unless last_id == t.id %>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="trip-first-stop">
			<div class="row">
				<div class="col-md-12">
					<small>first stop:</small><br>
					<div class="trip-departs-to">
						<i class="fa fa-map-marker" style="margin-left:4px;margin-right:2px;"></i>
						<% if trip.stop_location.present? %>
							<%= trip.try(:stop_location) %>
						<% else %>
							Unknown
						<% end %>
					</div>

				</div>
			</div>
			<div class="no-height">
				<div style="position:relative; top:1em;">
					<i class='fa fa-calendar' style="margin-left:2px;margin-right:1px;"></i>
					<% if trip.departs_at.present? %>
						<%= trip.departs_at.strftime('%-m/%d/%y') %>
					<% else %>
						tbd
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<% if current_user %>
						<div class="pull-right">
							<% if current_user?(trip.user) %>
								<%= link_to "<i class='fa fa-check'></i> following".html_safe, "#", title: "Your trip", class: "btn btn-turquoise btn-sm", disabled: true %>
							<% else %>
								<%= render "join_requests/join_btn", trip: trip, btn_size: "btn-sm", join_text: "JOIN" %>
								<%= render "trips/modals/new_join_request_modal", trip: trip %>
								<%= render "followings/following_btn", resource: trip %>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>



