<div id="home-background5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well build-trip-well">
					<div class="row">
						<div class="col-md-4"style="padding:0px;">
							<h1><%= @trip.name %></h1>
						</div>
						<div class="col-md-2" style="padding:0px;">
							<div class="trip-category travel-companions active">
								<i class="fa fa-group"></i>
								<br>
								Travel Companions
							</div>
						</div>
						<div class="col-md-2"style="padding:0px;">
							<div class="trip-category travel-details">
								<i class="fa fa-plane"></i>
								<br>
								Travel Details
							</div>
						</div>
						<div class="col-md-2"style="padding:0px;">
							<div class="trip-category about-you">
								<i class="fa fa-user"></i>
								<br>
								About You
							</div>
						</div>
					</div>
					<hr class="thick">
					<div class="row">
						<div class="col-md-4">
							<div class="well" style="min-height:510px;">
								<div class="row">
									<div class="col-md-12">
										<h4 class="no-margin center">Welcome to the Trip Builder!</h4>
									</div>
								</div>
								<hr class="grey-hr">
								<div class="row">
									<div class="col-md-8 col-centered">
										<%= image_tag "group_pics/group_pic.jpg", class: "img-responsive", id: "welcome-img-1" %>
										<%= image_tag "activities/train_boarding.jpg", class: "img-responsive", id: "welcome-img-2" %>
										<%= image_tag "activities/town_small.jpg", class: "img-responsive", id: "welcome-img-3" %>
										<%= image_tag "activities/public_square_small.jpg", class: "img-responsive", id: "welcome-img-4" %>
										<%= image_tag "activities/food_small.jpg", class: "img-responsive", id: "welcome-img-5" %>
										<%= image_tag "default_profile_image.png", class: "img-responsive", id: "welcome-img-6" %>
									</div>
								</div>
								<hr class="grey-hr">
								<dl style="margin-bottom:0px;">
									<dt class="small-top-margin">Travel Companions:</dt>
									<dd>Specify your parameters as filters so only your ideal travel companions will join you.</dd>
									<dt class="small-top-margin">Travel Details:</dt>
									<dd>Tell us about the logistics of your trip.</dd>
									<dt class="small-top-margin">About You:</dt>
									<dd>Complete your profile so interested travelers can know more about you.</dd>
								</dl>
							</div>
						</div>
						<div class="col-md-8">
							<%= form_for @trip, html: {class: "form-fancy"} do |f| %>
								<div id="onboarding-who">
									<div class="onboarding-section">
										<h3>WHO WOULD YOU LIKE TO JOIN YOU IN <%= Trip::REGIONS[@trip.region].upcase %>?</h3>
										<hr style="margin-bottom:80px;">
										<%= render 'trips/onboarding/who', f: f %>
									</div>
									<hr class="no-top-margin">
									<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-when"> CONTINUE </a>
								</div>
								<div id="onboarding-when">
									<div class="onboarding-section">
										<h3>WHEN? FOR HOW LONG?</h3>
										<hr style="margin-bottom:80px;">
										<%= render 'trips/onboarding/when', f: f %>
									</div>
									<hr class="no-top-margin">
									<a class="btn btn-default onboarding-goto-who"> BACK </a>
									<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-stops"> CONTINUE </a>
								</div>
								<div id="onboarding-stops">
									<div class="onboarding-section">
										<h3>ITINERARY: WHAT IS THE FIRST STOP?</h3>
										<hr style="margin-bottom:120px;">
										<%= render 'trips/onboarding/stops', f: f %>
									</div>
									<hr class="no-top-margin">
									<a class="btn btn-default onboarding-goto-when"> BACK </a>
									<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-purpose"> CONTINUE </a>
								</div>
								<% current_user ? purpose_to = "profile" : purpose_to = "interests" %>
								<% current_user ? profile_back = "purpose" : profile_back = "interests" %>
								<div id="onboarding-purpose">
									<div class="onboarding-section">
										<h3>WHAT WILL YOU DO THERE?</h3>
										<hr style="margin-bottom:0px;">
										<%= render 'trips/onboarding/purpose', f: f %>
									</div>
									<hr class="no-top-margin">
									<a class="btn btn-default onboarding-goto-stops"> BACK </a>
									<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-<%= purpose_to %>"> CONTINUE </a>
								</div>
								<div id="onboarding-interests">
									<div class="onboarding-section">
										<h3>WHAT ARE YOUR TRAVEL PREFERENCES?</h3>
										<hr style="margin-bottom:40px;">
										<%= render 'trips/onboarding/interests', f: f %>
									</div>
									<hr>
									<a class="btn btn-default onboarding-goto-purpose"> BACK </a>
									<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-profile"> CONTINUE </a>
								</div>
								<div id="onboarding-profile">
									<div class="onboarding-section">
										<h3>TELL YOUR TRAVEL COMPANIONS ABOUT YOU</h3>
										<hr style="margin-bottom:100px;">
										<%= render 'trips/onboarding/profile', f: f %>
									</div>
									<hr class="no-top-margin">
									<a class="btn btn-default onboarding-goto-<%= profile_back %>"> BACK </a>
									
									<button type="submit" class="btn btn-default btn-lg pull-right fancy-dark"> SUBMIT </button>
								</div>

							<% end %>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
