<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="well build-trip-well">
				<div class="row">
					<div class="col-md-4"style="padding:0px;">
						<h1>Trip Create</h1>
					</div>
					<div class="col-md-2" style="padding:0px;">
						<div class="trip-category travel-companions active">
							<i class="fa fa-group"></i>
							<br>
							Travel Companions
						</div>
					</div>
					<div class="col-md-2"style="padding:0px;">
						<div class="trip-category travel-details">
							<i class="fa fa-plane"></i>
							<br>
							Travel Details
						</div>
					</div>
					<div class="col-md-2"style="padding:0px;">
						<div class="trip-category about-you">
							<i class="fa fa-user"></i>
							<br>
							About You
						</div>
					</div>
				</div>
				<hr class="thick">
				<div class="row">
					<div class="col-md-4">
						<div class="well" style="min-height:500px;">
							<div class="center"><%= image_tag "regions/europe.png", size: "200x200" %></div>
						</div>
					</div>
					<div class="col-md-8">
						<%= form_for @trip do |f| %>
							<div id="onboarding-who">
								<h3>Who would you like to join you?</h3>
								<hr>
								<%= render 'trips/onboarding/who', f: f %>
								<hr>
								<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-when"> CONTINUE </a>
							</div>
							<div id="onboarding-when">
								<h3>When are you going? For how long?</h3>
								<hr style="margin-bottom:0px;">
								<%= render 'trips/onboarding/when', f: f %>
								<hr>
								<a class="btn btn-default onboarding-goto-who"> BACK </a>
								<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-stops"> CONTINUE </a>
							</div>
							<div id="onboarding-stops">
								<h3>What stops will you be making in <%= @trip.region %>?</h3>
								<hr style="margin-bottom:0px;">
								<%= render 'trips/onboarding/stops', f: f %>
								<hr>
								<a class="btn btn-default onboarding-goto-when"> BACK </a>
								<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-purpose"> CONTINUE </a>
							</div>
							<div id="onboarding-purpose">
								<h3>What activities will this trip include?</h3>
								<hr style="margin-bottom:0px;">
								<%= render 'trips/onboarding/purpose', f: f %>
								<hr>
								<a class="btn btn-default onboarding-goto-stops"> BACK </a>
								<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-profile"> CONTINUE </a>
							</div>
							<div id="onboarding-profile">
								<h3>Now tell us a bit more about you...</h3>
								<hr style="margin-bottom:0px;">
								<%= render 'trips/onboarding/profile', f: f %>
								<hr>
								<a class="btn btn-default onboarding-goto-purpose"> BACK </a>
								<button type="submit" class="btn btn-default btn-lg pull-right fancy-dark" id="onboarding-submit-travelcompanions"> CONTINUE </button>
							</div>
						<% end %>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>