<div id="home-background5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well build-trip-well">
					<div class="row">
						<div class="col-md-4"style="padding:0px;">
							<h1><%= @trip.name %></h1>
						</div>
						<div class="col-md-2" style="padding:0px;">
							<div class="trip-category travel-companions active">
								<i class="fa fa-group"></i>
								<br>
								Travel Companions
							</div>
						</div>
						<div class="col-md-2"style="padding:0px;">
							<div class="trip-category travel-details">
								<i class="fa fa-plane"></i>
								<br>
								Travel Details
							</div>
						</div>
						<div class="col-md-2"style="padding:0px;">
							<div class="trip-category about-you">
								<i class="fa fa-user"></i>
								<br>
								About You
							</div>
						</div>
					</div>
					<hr class="thick">
					<div class="row">
						<div class="col-md-4">
							<div class="well" style="min-height:510px;">
								<% User::FACES.shuffle.each do |face| %>
									<!-- 128, 73, 48, 24 -->
									<% head =  "https://s3.amazonaws.com/uifaces/faces/twitter/" + face + "/48.jpg" %>
									<%= image_tag(head, style: "margin-right:-5px; padding:2px;") %>
								<% end %>
							</div>
						</div>
						<div class="col-md-8">
							<%= form_for @trip, html: {class: "form-fancy"} do |f| %>
								<div id="onboarding-who">
									<div class="onboarding-section">
										<h3>WHO WOULD YOU LIKE TO JOIN YOU IN <%= Trip::REGIONS[@trip.region].upcase %>?</h3>
										<hr style="margin-bottom:80px;">
										<%= render 'trips/onboarding/who', f: f %>
									</div>
									<hr class="no-top-margin">
									<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-when"> CONTINUE </a>
								</div>
								<div id="onboarding-when">
									<div class="onboarding-section">
										<h3>WHEN? FOR HOW LONG?</h3>
										<hr style="margin-bottom:80px;">
										<%= render 'trips/onboarding/when', f: f %>
									</div>
									<hr class="no-top-margin">
									<a class="btn btn-default onboarding-goto-who"> BACK </a>
									<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-stops"> CONTINUE </a>
								</div>
								<div id="onboarding-stops">
									<div class="onboarding-section">
										<h3>ITINERARY: WHAT IS THE FIRST STOP?</h3>
										<hr style="margin-bottom:120px;">
										<%= render 'trips/onboarding/stops', f: f %>
									</div>
									<hr class="no-top-margin">
									<a class="btn btn-default onboarding-goto-when"> BACK </a>
									<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-purpose"> CONTINUE </a>
								</div>
								<div id="onboarding-purpose">
									<div class="onboarding-section">
										<h3>WHAT WILL YOU DO THERE?</h3>
										<hr style="margin-bottom:0px;">
										<%= render 'trips/onboarding/purpose', f: f %>
									</div>
									<hr>
									<a class="btn btn-default onboarding-goto-stops"> BACK </a>
									<a class="btn btn-default btn-lg pull-right fancy-dark onboarding-goto-profile"> CONTINUE </a>
								</div>
								<div id="onboarding-profile">
									<div class="onboarding-section">
										<h3>TELL YOUR TRAVEL COMPANIONS ABOUT YOU</h3>
										<hr style="margin-bottom:80px;">
										<%= render 'trips/onboarding/profile', f: f %>
									</div>
									<hr class="no-top-margin">
									<a class="btn btn-default onboarding-goto-purpose"> BACK </a>

									<button type="submit" class="btn btn-default btn-lg pull-right fancy-dark"> SUBMIT </button>
								</div>

							<% end %>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
