
<% unless @trip.solo_trip? %>
	<div class="container-fluid">
		<div class="row">
			<div class="trip-bar">
				<h4 class="no-margin" style="line-height:200%;">
					<%= travel_text(@trip.group_dynamics, @trip.group_nationality, @trip.group_count, @trip.group_age_min, @trip.group_age_max).html_safe %> 
				</h4>
			</div>
		</div>
	</div>
<% end %>

<%= render "trips/trip_edit_modal" %>
<div class="container-fluid">
	<div class="show-trip">
		<div class="row">
			<div class="col-md-1">

			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<h3 class="no-margin">
							<% if @first_stop %>
								<span class="airport"><%= @first_stop.to_iata[0] %></span><span class="airport"><%= @first_stop.to_iata[1] %></span><span class="airport"><%= @first_stop.to_iata[2] %></span>
								<%= @first_stop.to_name %>
							<% else %>
								<%= Trip::REGIONS[@trip.region] %>
							<% end %>
							<span class="pull-right">
								<i class='fa fa-clock-o'></i>
								<% if @trip.departs_at.present? %>
									<%= javascript_tag do %>
									  window.tripDepartsAt = "<%=j (@trip.departs_at.to_f * 1000).to_s%>";
									<% end %>
									<span id="defaultCountdown"></span>
								<% elsif @trip.departing_category.present? %>
									<%= Trip::DEPARTINGS[@trip.departing_category].capitalize %>
								<% else %>
									tbd
								<% end %>
							</span>
						</h3>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div style="margin-top:10px;">
							<!-- 1200px width needed -->
							<%= image_tag "trip_defaults/koh_phi_phi_thailand.jpg", class: "img-responsive trip-pic" %>
						</div>
					</div>
				</div>
				<div class="row" style="margin-bottom:20px;">
					<div class="col-md-12">
						<div class="trip-name">
							<h1>
								<%= @trip.name %>
								<% if current_user && current_user == @trip.user %>
									<button type="button" class="btn btn-danger" style="font-family:inherit;" data-toggle="modal" data-target="#tripEditModal">
									 EDIT
									</button>
								<% end %>
							</h1>
							<% if @trip.tags.any? %>
								<div class="center" style="padding-bottom:10px;">
									<%= @trip.hashtag_list %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="center">
							<h3>Itinerary</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="dots-white" style="padding-top:10px;padding-bottom:10px;">
							<i class='fa fa-map-marker'></i> Chicago
							<span class="pull-right">
								<% if @trip.departs_at.present? %>
									<%= @trip.departs_at.strftime('%m/%d/%Y') %>
								<% elsif @trip.departing_category.present? %>
									<%= Trip::DEPARTINGS[@trip.departing_category].capitalize %>
								<% else %>
									tbd
								<% end %>
								<i class='fa fa-calendar'></i>
							</span>
						</div>
					</div>
				</div>
				
				<div id="stops">
					<%= render @stops %>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="stop-form" style="display:none;"><%= render "stops/form" %></div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="center">
							<%= link_to new_trip_stop_path(@trip), remote: true, class: "grey-link" do %>
								<i class="fa fa-plus-circle" id="new-stop" style="font-size:300%; margin-top:20px;"></i>
							<% end %>
							<a href="#" class="grey-link">
								<i class="fa fa-minus-circle" id="cancel-stop" style="font-size:300%; margin-top:20px;display:none;"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<%= render "trips/tabpanel" %>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<%= render "trips/show_sidebar" %>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>