
<% unless @trip.solo_trip? %>
	<div class="container-fluid">
		<div class="row">
			<div class="trip-bar">
				<h4 class="no-margin" style="line-height:200%;">
					<%= travel_text(@trip.group_dynamics, @trip.group_nationality, @trip.group_count, @trip.group_age_min, @trip.group_age_max).html_safe %> 
				</h4>
			</div>
		</div>
	</div>
<% end %>

<%= render "trips/trip_edit_modal" %>
<div class="container-fluid">
	<div class="show-trip">
		<div class="row">
			<div class="col-md-1">

			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<h3 class="no-margin">
							<% if @first_stop && @first_stop.to_iata.present? %>
								<span class="airport"><%= @first_stop.to_iata[0] %></span><span class="airport"><%= @first_stop.to_iata[1] %></span><span class="airport"><%= @first_stop.to_iata[2] %></span>
								<%= @first_stop.to_name %>
							<% else %>
								<%= Trip::REGIONS[@trip.region] %>
							<% end %>
							<span class="pull-right">
								<i class='fa fa-clock-o'></i>
								<% if @trip.departs_at.present? %>
									<%= javascript_tag do %>
									  window.tripDepartsAt = "<%=j (@trip.departs_at.to_f * 1000).to_s%>";
									<% end %>
									<span id="defaultCountdown"></span>
								<% elsif @trip.departing_category.present? %>
									<%= Trip::DEPARTINGS[@trip.departing_category].capitalize %>
								<% else %>
									tbd
								<% end %>
							</span>
						</h3>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div style="margin-top:10px;">
							<!-- 1200px width needed -->
							<%= image_tag "trip_defaults/koh_phi_phi_thailand.jpg", class: "img-responsive trip-pic" %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="trip-name-tags-form" style="display:none;" class="edit-trip-name">
							<%= render "trips/name_tags_form" %>
						</div>
						<div class="trip-name">
							<h1>
								<%= @trip.name %>
								<% if current_user && current_user == @trip.user %>
									<button type="button" class="btn btn-default" style="font-family:inherit;" data-toggle="modal" data-target="#tripEditModal">
									 EDIT
									</button>
								<% end %>
							</h1>
							<% if @trip.tags.any? %>
								<div class="center" style="padding-bottom:10px;">
									<%= @trip.hashtag_list %>
								</div>
							<% end %>
							<% if current_user && current_user == @trip.user %>
								<%= link_to "edit", "#", id: "edit-name-tags", class: "grey-link pull-right", style: "position:relative; top:-1.7em;left:-.5em;" %>
							<% end %>
						</div>
					</div>
				</div>
				<hr>
				<%= render "trips/itinerary" %>
				<hr style="margin-top:40px;margin-bottom:60px;">
				<div class="row">
					<div class="col-md-12">
						<%= render "trips/tabpanel" %>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<%= render "trips/show_sidebar" %>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>