<% unless @trip.solo_trip? %>
	<div class="container-fluid">
		<div class="row">
			<div class="trip-bar">
				<p class="no-margin" style="line-height:200%;">
					<%= travel_text(@trip.group_dynamics, @trip.group_nationality, @trip.group_count, @trip.group_age_min, @trip.group_age_max).html_safe %> 
				</p>
			</div>
		</div>
	</div>
<% end %>

<%= render "trips/trip_edit_modal" %>
<div class="container-fluid">
	<div class="show-trip">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div style="margin-top:20px;">
							<!-- 1200px width needed -->
							<%= image_tag "trip_defaults/koh_phi_phi_thailand.jpg", class: "img-responsive" %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="center">
							<h1><%= @trip.name %></h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="center">
							<% if @trip.tags.any? %>
								<small><%= @trip.hashtag_list %></small>
							<% end %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1"><hr style="margin-top:5px;margin-bottom:40px;"></div>
				</div>

				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<%= render "trips/tabpanel" %>
					</div>
				</div>

				
			</div>
			<div class="col-md-3">
				<%= render "trips/show_sidebar" %>
			</div>
		</div>
	</div>
</div>