<% unless @trip.solo_trip? %>
	<div class="container-fluid">
		<div class="row">
			<div class="trip-bar">
				<h4 class="no-margin" style="line-height:200%;">
					<div id="travel-text" class="inline">
						<%= travel_text(@trip.group_dynamics, @trip.group_nationality, @trip.group_count, @trip.group_age_min, @trip.group_age_max).html_safe %>
					</div>
					<% if current_user && current_user == @trip.user %>
						<div id="trip-travel-text-form" style="display:none;">
							<%= render "trips/travel_text_form" %>
						</div>
						<small><%= link_to "change", "#", id: "edit-travel-text", class: "grey-link" %></small>
					<% end %>
				</h4>
			</div>
		</div>
	</div>
<% end %>
<% if current_user && current_user == @trip.user %>
	<%= render "trips/trip_image_modal" %>
	<%= render "trips/trip_edit_modal" %>
<% end %>
<div class="container-fluid trip-background">
	<div class="show-trip">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="big top-margin">
							<% if @trip.departs_at.present? && @trip.returns_at.present? %>
								<%= @trip.departs_at.strftime('%-m/%d/%y') %> - <%= @trip.returns_at.strftime('%-m/%d/%y') %>,
							<% else %>
								<%= Trip::DURATIONS[@trip.duration] %>,
							<% end %>
							<%= Trip::REGIONS[@trip.region] %>
							<small style="font-size:60%;">
								<% if current_user && current_user == @trip.user %>
									<a href="#" type="button" class="grey-link" style="font-family:inherit;" data-toggle="modal" data-target="#tripEditModal">
									 change
									</a>
								<% end %>
							</small>
							<span class="pull-right">
								Leaving:
								<% if @trip.departs_at.present? %>
									<%= javascript_tag do %>
									  window.tripDepartsAt = "<%=j (@trip.departs_at.to_f * 1000).to_s%>";
									<% end %>
									<span id="defaultCountdown"></span>
								<% elsif @trip.departing_category.present? %>
									<%= Trip::DEPARTINGS[@trip.departing_category].capitalize %>
								<% else %>
									tbd
								<% end %>
							</span>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div style="margin-top:0px;">

							<% if current_user && current_user == @trip.user %>
								<div class="no-height">
									<a href="#" type="button" class="grey-link" style="font-family:inherit;" data-toggle="modal" data-target="#tripImageModal">
										<i id="trip-image-modal" class='fa fa-camera' style="margin-left:5px; margin-top:5px;"></i>
									</a>
								</div>
							<% end %>
							<% if @trip.image_attachments.any? %>
								<%= image_tag(@trip.image_attachments.first.image.url(:landscape), class: "img-responsive trip-pic").to_s %>
							<% else %>
								<%= image_tag "trip_defaults/koh_phi_phi_thailand.jpg", class: "img-responsive trip-pic" %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="trip-name-tags-form" style="display:none;" class="edit-trip-name">
							<%= render "trips/name_tags_form" %>
						</div>
						<div class="trip-name">
							<h1>
								<%= @trip.name %>
							</h1>
							<% if @trip.tags.any? %>
								<div class="center" style="padding-bottom:10px;">
									<%= @trip.hashtag_list %>
								</div>
							<% end %>
							<% if current_user && current_user == @trip.user %>
								<%= link_to "edit", "#", id: "edit-name-tags", class: "grey-link pull-right", style: "position:relative; top:-1.7em;left:-.5em;" %>
							<% end %>
						</div>
					</div>
				</div>
				<hr>
				<%= render "trips/itinerary" %>
				<hr style="margin-top:40px;margin-bottom:60px;">
				<div class="row">
					<div class="col-md-12">
						<%= render "trips/tabpanel" %>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<%= render "trips/show_sidebar" %>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>