<div class="container-fluid" style="background:#EFEDE2;min-height:600px;">
	<div class="row" style="margin-top:20px;margin-bottom:0px;">
		<div class="col-md-6" style="padding-left: 28px;">
			<h1 style="font-size:140%;margin-top:0px;margin-bottom:5px;min-height:50px;"><%= @trip.name %></h1>
			<div class="row">
				<div class="col-md-8">
					<ul class="list-unstyled" style="margin:0px;">
						<li>
							<i class="fa fa-plane" style="margin-left:2px;margin-right:5px;"></i>
							<% if @trip.public? %>
								<%= Trip::STATES[@trip.state] %> (ages <%= @trip.try(:age_min) %>-<%= @trip.try(:age_max) %>)
							<% elsif @trip.private? %>
								private trip
							<% end %>
						</li>
						<li><i class="fa fa-clock-o" style="margin-left:2px;margin-right:5px;"></i> starts in <%= time_ago_in_words(@trip.departs_at) %></li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled" style="margin:0px;">
						<% if @trip.price_info? %>
							<li>
								Est cost:
								<% if @trip.price_dollars_low %>
									<%= @trip.try(:price_dollars_low) %>-<%= @trip.try(:price_dollars_high) %>
									<%= @trip.try(:currency) %>
								<% else %>
									n/a
								<% end %>
							
							</li>
						<% end %>
						<li>Duration: 
							<% if @trip.duration_in_days %>
								<%= pluralize(@trip.duration_in_days, "day") %>
							<% else %>
								n/a
							<% end %>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="list-unstyled" style="padding:0px;">
						<li><i class="fa fa-map-marker" style="margin-left:4px;margin-right:6px;"></i> <%= @trip.locations.first.unparsed %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#tripEditModal">
			 EDIT
			</button>

			<%= render "trips/trip_edit_modal" %>
		</div>
		<div class="col-md-4">
		
			<iframe width="100%" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=10&center=<%= @trip.locations.first.latitude %>%2C<%= @trip.locations.first.longitude %>&key=AIzaSyBby0kQu2u3emDsxyB6MITJnkNqzC5T9pg"></iframe>
		
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div role="tabpanel">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
					<li role="presentation"><a href="#itinerary" aria-controls="itinerary" role="tab" data-toggle="tab">Itinerary</a></li>
					<!--  
					<li role="presentation"><a href="#activities" aria-controls="activities" role="tab" data-toggle="tab">Activities</a></li>
					<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
			    -->
					<li role="presentation"><a href="#travelers" aria-controls="travelers" role="tab" data-toggle="tab">Travelers</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content trip-content">
			    <div role="tabpanel" class="tab-pane active" id="description">
						<% if @trip.description.present? %>
							<%= @trip.try(:description) %>
						<% else %>
							<div class="center grey">
								<i class="fa fa-file-text-o" style="font-size:1000%; margin-top:20px;"></i>
								<h3>Description Not Available</h3>
							</div>
						<% end %>	
						
					</div>
					<div role="tabpanel" class="tab-pane" id="itinerary">
						<% @trip.locations.each do |location| %>
							<div class="row">
								<div class="col-md-3">
									<i class="fa fa-plane"></i>
									<%= @trip.departs_at.strftime('%B %d, %Y') %>
								</div>
								<div class="col-md-9">
									Arrive at
									<span class="turquoise_dark"><i class="fa fa-map-marker"></i> <%= location.unparsed %></span>
								</div>
							</div>
						<% end %>
					</div>
					<!--
			    <div role="tabpanel" class="tab-pane" id="activities">activities...</div>
					<div role="tabpanel" class="tab-pane" id="messages">messages...</div>
					-->
					<div role="tabpanel" class="tab-pane" id="travelers">
						<div class="row">
							<div class="col-md-2">
								<% if @trip.user.fb_image %>
                  <%= image_tag @trip.user.fb_image, class: "image" %>
                <% else %>
                  <%= image_tag "blank_avatar.jpg", class: "image" %>
                <% end %>
								
								<%= @trip.user.first_name %>
							</div>
						</div>
					</div>
			    
			  </div>
			</div>
	  </div>
		<div class="col-md-4">
			<% if @trip.public? %>
				<h3 style="margin-top:40px;">Share this trip:</h3>
				<% share_url = request.url.split('?').first %>
				<% share_text = "#{@trip.departs_at.strftime('%B %Y')} TripSharing group to #{@trip.locations.first.unparsed.split(',').first}!" %>
				<% tw_link = "https://twitter.com/share?url=#{u(share_url)}&text=#{u(share_text)}&via=#{t('application.root.twitter_name')}" %>
				<% fb_link = "https://www.facebook.com/sharer/sharer.php?u=#{u(share_url)}" %>

				<%= link_to "mailto: ?subject=#{u(@trip.name)}&body=#{u(share_url)}", style: 'text-decoration: none;', target: "_blank" do %>
			    <%= image_tag("social_icons/email_circle_color-38.png") %>
			  <% end %>
			  <%= link_to fb_link, target: "_blank", style: 'text-decoration: none;' do %>
			    <%= image_tag("social_icons/facebook_circle_color-38.png") %>
			  <% end %>
			  <%= link_to tw_link, target: "_blank", style: 'text-decoration: none;' do %>
			    <%= image_tag("social_icons/twitter_circle_color-38.png") %>
			  <% end %>
				<div class="fb-like" data-href="<%= share_url %>" data-layout="button_count" data-send="false" data-show-faces="false" data-width="220"></div>
			<% end %>
			
		</div>
	</div>
</div>