<div class="container-fluid">
	<%= render "trips/details_bar" %>
	<%= render "trips/action_bar" %>
</div>

<% if current_user && current_user == @trip.user %>
	<%= render "trips/trip_image_modal" %>
	<%= render "trips/trip_edit_modal" %>
<% end %>

<div class="container-fluid trip-background">
	<div class="show-trip">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<%= render "trips/well_big" %>
			</div>
		</div>
	</div>
</div>