<%= render "trips/trip_edit_modal" %>
<div class="container-fluid">
	<div class="show-trip">
		<div class="row">
			<div class="col-md-8">
				
				<div class="row">
					<div class="col-md-12">
						<div class="center">
							<h1><%= @trip.name %></h1>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="center">
							<% if @trip.user.fb_image %>
		            <%= image_tag @trip.user.fb_image, class: "image" %>
		          <% else %>
		            <%= image_tag "blank_avatar.jpg", class: "image" %>
		          <% end %>

							<%= @trip.user.first_name %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2"><hr></div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="center">
							<% if current_user && current_user == @trip.user %>
								<button type="button" class="btn btn-default" data-toggle="modal" data-target="#tripEditModal" data-backdrop="static">
								 EDIT TRIP
								</button>
							<% end %>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-md-4">
				<h3>Traveler Qualifications:</h3>
				<div class="comment">
					<ul class="no-padding no-margin list-unstyled">
						<% unless @trip.solo_trip? %>
							<li><strong>gender:</strong> <%= gender_text(@trip.group_dynamics) %></li>
						<% end %>
						<li><strong>nationality:</strong> <%= User::NATIONALITIES[@trip.group_nationality] %></li>
						<li><strong>age min:</strong> <%= @trip.group_age_min %></li>
						<li><strong>age max:</strong> <%= @trip.group_age_max %></li>
					</ul>
				</div>
				<% if @trip.public? %>
					<%= render "trips/social_media" %>
				<% end %>
				<h3>Comments</h3>
				<div class="comment"><%= @trip.reason %></div>
			</div>
		</div>
	</div>
</div>