<div class="row small-bottom-margin">
	<div class="col-md-1 col-sm-2">
		<% if type == "sent" %>
			<%= link_to message.receiver do %>
				<%= user_image(message.receiver, "50x50", message.receiver.full_name) %>
			<% end %>
		<% else %>
			<%= link_to message.sender do %>
				<%= user_image(message.sender, "50x50", message.sender.full_name) %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-11 col-sm-10" style="margin-top:12px;">
		<div class="row">
			<div class="col-md-6">
				<% type != "sent" && message.unread? ? add_bold = "bold" : add_bold = "" %>
				<%= link_to [current_user, message], class: "grey-dark-link #{add_bold}" do %>
					<%= truncate(message.content, length: 110) %>
					<% if type != "sent" && message.unread? %>
						<span class="turquoise_dark">new</span>
					<% end %>
				<% end %>
			</div>
			<div class="col-md-4">
				<span class="pull-right"><em><%= time_ago_in_words(message.created_at) %> ago</em></span>
			</div>
			<div class="col-md-2">
				<%= link_to "VIEW", [current_user, message], class: "grey-dark-link btn btn-default btn-sm pull-right" %>
			</div>
		</div>
	</div>
</div>
<hr style="margin-top:8px;margin-bottom:8px;">