<div class="modal-body">
	<%= render "sessions/facebook_or", fb_prefix: "Log in" %>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<%= form_tag '/login' do %>
				<div class="row small-bottom-margin">
					<div class="col-md-12">
						<div class="input-group input-group-lg">
						  <span class="input-group-addon" id="sizing-addon2">@</span>
						  <input type="text" class="form-control" placeholder="Email Address" id="email" name="email" aria-describedby="sizing-addon2" autocomplete="off">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="input-group input-group-lg">
						  <span class="input-group-addon" id="sizing-addon2"><i class='fa fa-lock' style="padding-left:2px;padding-right:1px;"></i></span>
						  <input type="password" class="form-control" placeholder="Password" id="password" name="password" aria-describedby="sizing-addon2" autocomplete="off">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="pull-right">
				      <small><%= link_to "Forgot Password?", "#", id: "passreset-link", class: "grey-link" %></small>
				    </div>
					</div>
				</div>
        <div class="row small-top-margin">
        	<div class="col-md-12">
        		<%= submit_tag 'Log In', data: { disable_with: "Submitting..." }, class: "btn btn-salmon btn-lg", style: "width:100%;" %>
        	</div>
        </div>

      <% end %>
		</div>
		
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			Don't have an account?
			<%= link_to "Sign up", "#", id: "signup-link" %>
		</div>
	</div>
</div>
