<div class="modal-body">
	<%= render "sessions/facebook_or", fb_prefix: "Sign up" %>
	<hr>
	<div class="row">
		<%= render 'users/form' %>
	</div>
	<div>
			<small>By signing up you confirm that you accept our <%= link_to "terms of service", terms_path %> and <%= link_to "privacy policy", privacy_path %>.</small>
	</div>
	<hr>

	<% if @trip && @trip.userless? %>
		<div class="row">
			<div class="col-md-12">
				<a href="/" class="btn btn-danger btn-lg" style="width:100%;">
					<i class='fa fa-remove'></i> Cancel And Remove Trip
				</a>
			</div>
		</div>
	<% else %>
		<div class="row">
			<div class="col-md-12">
				Already a member?
				<%= link_to "Log in", "#", id: "login-link" %>
			</div>
		</div>
	<% end %>
</div>