.container
  %br
  %br
  %br
  .row
    .col-md-8.col-md-offset-2
      .well
        .row
          .col-md-4.login_border
            .center
              %h3.big.no-top-margin Login To TripSharing
              %br
              %br
              = link_to "<i class='icon-facebook' style='padding-right:5px;'></i> Sign in with Facebook".html_safe, "/auth/facebook", class: "btn btn-facebook"
              %br
              %br
              \--or--
              %br
              %br
              TripSharing account:
              %br
              %br
              = form_tag do
                = render 'shared/error_messages', object: @session_user
                = text_field_tag :email, params[:email], class: "col-md-3", placeholder: "Email", autocomplete: :off
                %br
                = password_field_tag :password, params[:password], class: "col-md-3", placeholder: "Password", autocomplete: :off
                %br
                %br
                = submit_tag 'Login', class: "btn btn-info", style: "margin-top:4px;"
                %br
                %br
                = link_to "Forgot Password?", new_password_reset_path
                %br
                %br
          .col-md-3
            .center
              %h3.big.no-top-margin.blue Create Account
              = render 'users/form'
              .small
                By creating a TripSharing account I agree to the
                = link_to "terms of use", terms_path
                and
                = link_to 'privacy policy', privacy_path
  %br
  %br
  %br
  %br