- content_for :title do
  = t('application.root.title_with_tag_line', tag_line: "Update Password")
.container    
  .div{ style: "margin-top:150px;margin-bottom:260px;"}
    = form_for(@user, url: password_reset_path(params[:id])) do |f|
      .row
        .span12
          %h2.center Reset Password
      .row
        .col-md-6.col-md-offset-3
          %hr
      .row
        .col-md-9.col-md-offset-3
          .row
            .col-md-3
              %label Password:
            .col-md-6
              = f.password_field :password
          .row
            .col-md-3
              %label Password Confirmation:
            .col-md-6
              = f.password_field :password_confirmation
      .row
        .col-md-6.col-md-offset-3
          %hr
      .row
        .span12
          .center
            = f.submit 'Update Password', class: "btn", disable_with: 'Submitting...'