<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
	  <td>
	    <b>Version 1.0 is live!</b>
	  </td>
	</tr>
	<tr>
	  <td style="padding-top:20px; padding-bottom:60px;">
	    We're excited to announce the newest version of
			<%= link_to "Tripsharing", root_url %>
			is live, offering many new features! We are still in the early stages of development but our travel sharing community is growing fast.
	  </td>
	</tr>
	<tr>
	  <td>
	    <table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td width="260" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
				     		<td>
									<%= link_to root_url do %>
										<%= image_tag("email_photos/italy.jpg", style: "display: block; border: 3px solid #D27D66; width:100%;") %>
									<% end %>
				     		</td>
				    	</tr>
							<tr>
								<tr>
					     		<td style="padding: 130px 0 30px 0;">
					      		<b>What to do now?</b>
					     		</td>
					    	</tr>
								<tr>
					     		<td style="padding: 0 0 0 0;font-size: 80%;">
					      		1. <%= link_to "Sign in", root_url %> and complete your profile.
					     		</td>
					    	</tr>
								<tr>
					     		<td style="padding: 0 0 0 0;font-size: 80%;">
					      		2. Plan a trip.
					     		</td>
					    	</tr>
								<tr>
					     		<td style="padding: 0 0 0 0;font-size: 80%;">
					      		3. Follow regions, trips, and members of interest to you.
					     		</td>
					    	</tr>
								<tr>
					     		<td style="padding: 0 0 0 0;font-size: 80%;">
					      		4. Send feedback to: <%= mail_to "info@trip-sharing.com" %>
					     		</td>
					    	</tr>
				    	</tr>
				  	</table>
					</td>
					<td style="font-size: 0; line-height: 0;" width="20">
						&nbsp;
					</td>
					<td width="260" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
				     		<td style="padding: 20px 0 30px 0;">
				      		<b>What's new?</b>
				     		</td>
				    	</tr>
							<tr>
				     		<td style="padding: 0 0 0 0;font-size: 80%;">
				      		1. Facebook (or traditional) authentication.
				     		</td>
				    	</tr>
							<tr>
				     		<td style="padding: 0 0 0 0;font-size: 80%;">
				      		2. Follow members, trips or regions.
				     		</td>
				    	</tr>
							<tr>
				     		<td style="padding: 0 0 0 0;font-size: 80%;">
				      		3. Trip planner - post travel plans to find like-minded travel companions.
				     		</td>
				    	</tr>
							<tr>
				     		<td style="padding: 0 0 0 0;font-size: 80%;">
				      		4. Join requests - send requests to join trips of interest to you.
				     		</td>
				    	</tr>
							<tr>
				     		<td style="padding: 0 0 0 0;font-size: 80%;">
				      		5. Messaging and notification center.
				     		</td>
				    	</tr>
							<tr>
				     		<td style="padding: 0 0 110px 0;font-size: 80%;">
				      		6. Detailed member profiles.
				     		</td>
				    	</tr>
							<tr>
				     		<td>
									<%= link_to root_url do %>
										<%= image_tag("home/Bagan-Medium-Email.jpg", style: "display: block; border: 3px solid #D27D66; width:100%;") %>
									<% end %>
				     		</td>
				    	</tr>
				   	</table>
					</td>
				</tr>
			</table>
	  </td>
	</tr>
	<tr>
 		<td style="padding: 80px 0 10px 0;">
  		<b>Help share the news on social media:</b>
 		</td>
	</tr>
	<tr>
 		<td style="padding: 0 0 40px 0;">
  		"Plan travel and meet new friends. Sign up today! http://ow.ly/M8CEN via @Tripsharing_"
 		</td>
	</tr>
	<tr>
 		<td style="padding: 0 0 60px 0;font-size: 80%;">
  		Don't forget to follow us on <%= link_to "facebook", "https://www.facebook.com/trip.sharing.1" %> and
			<%= link_to "twitter", "https://twitter.com/Tripsharing_" %>.
 		</td>
	</tr>
	<tr>
 		<td style="padding: 0 0 0 0;">
  		All the best,
 		</td>
	</tr>
</table>