<%= form_for @user, :url => { controller: 'users', :action => :create }, html: { id: "new_user_form"} do |f| %>
	<%= render "shared/error_messages", object: f.object %>
	<div class="row">
		<div class="col-md-6">
			<label>First name *</label>
			<br>
			<input name="user[first_name]" type="text" autocomplete="off" placeholder="First name" style="width:100%;" required>
		</div>
		<div class="col-md-6">						
			<label>Last name *</label>
			<br>
			<input name="user[last_name]" type="text" autocomplete="off" placeholder="Last name" style="width:100%;" required>
		</div>
	</div>
	<div class="row" style="margin-top:10px;">
		<div class="col-md-6">
			<label>Gender *</label>
			<br>
			<select name="user[gender]" style="width:100%;" required>
				<option disabled selected>Select Gender</option>
				<option value="female">Female</option>
				<option value="male">Male</option>
        <option value="other">Other</option>
      </select>
		</div>
		<div class="col-md-6">
			<label>Birthday *</label>
			<br>
			<input class="datepicker" placeholder="mm/dd/yyyy" name="user[birthday]" style="width:100%;" required data-date-format="mm/dd/yyyy">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label>Location (optional)</label>
			<input name="user[hometown]" type="text" class="add-geocomplete" id="hometown" placeholder="My location" value="<%= @survey.try(:hometown) %>" style="width:100%;">
		</div>
	</div>
	<div class="row" style="margin-top:10px;">
		<div class="col-md-12">
			<label>Email *</label>
			<br>
			<input type="email" style="width:100%;" autocomplete="off" name="user[email]" placeholder="Email" required>
		</div>
	</div>
	<div class="row" style="margin-top:10px;">
		<div class="col-md-12">
			<label>Make a Password: *</label>
			<br>
			<input autocomplete="off" id="user_password" name="user[password]" style="width:100%;" type="password" placeholder="Password" required>
		</div>
	</div>
	<div class="blankey" style="display:none;">
    <h4>Leave this field blank to prevent spam:</h4>
    <%= text_field_tag :blankey %>
    <br/>
  </div>
  <%= f.submit "Create Account", data: { disable_with: "Submitting..." }, class: "btn btn-default btn-lg fancy-dark", style: "margin-top:20px;" %>
	
 <% end %>