<%= form_for @user, :url => { controller: 'users', :action => :create }, html: { id: "new_user_form"} do |f| %>
	<div class="col-xs-12 col-sm-12 col-md-12">

			<div class="row small-bottom-margin">
				<div class="col-xs-12 col-md-12">
					<div class="input-group input-group-lg">
					  <span class="input-group-addon" id="sizing-addon2"><i class='fa fa-user' style="padding-left:2px;padding-right:1px;"></i></span>
					  <input type="text" class="form-control" placeholder="First Name" name="user[first_name]" aria-describedby="sizing-addon2" autocomplete="off" required>
					</div>
				</div>
			</div>
			<div class="row small-bottom-margin">
				<div class="col-xs-12 col-md-12">
					<div class="input-group input-group-lg">
					  <span class="input-group-addon" id="sizing-addon2"><i class='fa fa-user' style="padding-left:2px;padding-right:1px;"></i></span>
					  <input type="text" class="form-control" placeholder="Last Name" name="user[last_name]" aria-describedby="sizing-addon2" autocomplete="off" required>
					</div>
				</div>
			</div>
			<div class="row small-bottom-margin">
				<div class="col-xs-12 col-md-12">
					<div class="input-group input-group-lg">
					  <span class="input-group-addon" id="sizing-addon2"><span style="padding-left:2px;padding-right:1px;">@</span></span>
					  <input type="email" class="form-control" placeholder="Email Address" name="user[email]" aria-describedby="sizing-addon2" autocomplete="off" required>
					</div>
				</div>
			</div>
			<div class="row small-bottom-margin">
				<div class="col-xs-12 col-md-12">
					<div class="input-group input-group-lg">
					  <span class="input-group-addon" id="sizing-addon2"><i class='fa fa-map-marker' style="padding-left:4px;padding-right:3px;"></i></span>
					  <input type="text" id="location" class="form-control add-geocomplete" placeholder="My location" name="user[location]" aria-describedby="sizing-addon2" autocomplete="off" required>
					</div>
				</div>
			</div>
			<div class="row bottom-margin">
				<div class="col-md-12">
					<div class="input-group input-group-lg">
					  <span class="input-group-addon" id="sizing-addon2"><i class='fa fa-lock' style="padding-left:4px;padding-right:2px;"></i></span>
						<input class="form-control" autocomplete="off" id="user_password" name="user[password]" type="password" placeholder="Password" required minlength="6"  aria-describedby="sizing-addon2">
					</div>
				</div>
			</div>
			<div class="row small-bottom-margin small-top-margin">
				<div class="col-xs-2 col-md-2"><label for="">Birthday</label></div>
				<div class="col-xs-3 col-md-3">
			    <select class="form-control" name="user[birthday(2i)]" required>
						<option value="default" disabled="disabled">Month</option>
						<option value="1">Jan</option>
						<option value="2">Feb</option>
						<option value="3">Mar</option>
						<option value="4">Apr</option>
						<option value="5">May</option>
						<option value="6">Jun</option>
						<option value="7">Jul</option>
						<option value="8">Aug</option>
						<option value="9">Sep</option>
						<option value="10">Oct</option>
						<option value="11">Nov</option>
						<option value="12">Dec</option>
			    </select>
				</div>
				<div class="col-xs-3 col-md-3">
			    <select class="form-control" name="user[birthday(3i)]" required>
			    	<option value="default" disabled="disabled">Day</option>
						<% (1..31).each do |n| %>
							<option value="<%= n %>"><%= n %></option>
						<% end %>
			    </select>
				</div>
				<div class="col-xs-3 col-md-3">
			    <select class="form-control" name="user[birthday(1i)]" required>
			    	<option value="default" disabled="disabled">Year</option>
						<% end_year = Date.today.year - 18 %>
						<% (1900..end_year).reverse_each do |n| %>
							<option value="<%= n %>"><%= n %></option>
						<% end %>
			    </select>
				</div>
			</div>
			<div class="row bottom-margin">
				<div class="col-xs-2 col-md-2"><label for="">Gender</label></div>
				<div class="col-xs-2 col-md-2">
					<label class="radio-inline">
				    <input type="radio" name="user[gender]" id="inlineCheckbox1" value="female" required/>
				    Female
					</label>
				</div>
				<div class="col-xs-2 col-md-2">
					<label class="radio-inline">
				    <input type="radio" name="user[gender]" id="inlineCheckbox2" value="male" required/>
				    Male
					</label>
				</div>
			</div>
			<div class="blankey" style="display:none;">
		    <h4>Leave this field blank to prevent spam:</h4>
		    <%= text_field_tag :blankey %>
		  </div>
			<%= f.submit "Create Account", data: { disable_with: "Submitting..." }, class: "btn btn-lg btn-salmon btn-block" %>
			<div class="row" style="margin-top:5px;">
				<div class="col-md-12">
					<small>
						By signing up I agree to Tripsharing's <%= link_to "terms of service" %> and <%= link_to "privacy policy" %>.
					</small>
				</div>
			</div>
	</div>
<% end %>
