<% User::INTERESTS_ARRAY.each do |group| %>
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-md-2" style="padding-top:7px;">
			<div class="pull-right">
				<i class="fa fa-fw fa-<%= User::INTERESTS[group[1]]["icon"] %>"></i>
				<span style="font-size:120%;"><%= group[0].capitalize %></span>:
			</div>
		</div>
		<div class="radio" style="margin-top:0px;">
			<% group[2].each do |preference| %>
				<% user.interest_blob.split(",").include?(group[1] + "-" + preference[1]) ? checked_or_no = "checked" : checked_or_no = "" %>
				<div class="inline" style="font-size:180%;">
				  <label style="padding-left:0px;">
				    <input type="radio" name="preference_tags[<%= group[1] %>]" class="fancyradio fancyradio-shell" value="<%= preference[1] %>" style="display:none;" <%= checked_or_no %>>
						<span><%= preference[0] %></span>
				  </label>
				</div>	
			<% end %>
		</div>
	</div>
<% end %>
