<div style="margin-bottom:15px;">
	<%= link_to user do %>
		<%= user_profile_image(user, "normal") %>
	<% end %>
</div>

<%= link_to user, class: "grey-link" do %>
	<span class="dots">
		<%= user.first_name %>
	</span>
<% end %>
<br>
<%= user.age %>, <%= user.gender.capitalize %><br>
<% if user.occupation? %>
	<%= user.occupation %><br>
<% end %>
<% if user.location? %>
	<%= user.try(:location) %><br>
<% elsif user.fb_location? %>
	<%= user.try(:fb_location) %><br>
<% end %>
<% if user.tag_line? %>
	<hr>
	<p class="center">
		"<%= user.tag_line %>"
	</p>
<% end %>