<div style="margin-bottom:5px;">
	<% if user.fb_image.present? %>
		<% img_path = "#{user.fb_image}" + "?type=normal" %>
	<% else %>
		<% img_path = "blank_avatar.png" %>
	<% end %>
	<%= link_to user do %>
		<%= image_tag(img_path, class: "profile-pic", size: "110x110") %>
	<% end %>
</div>
<% user.nationality.present? ? n = "#{User::NATIONALITIES[user.nationality]}, " : n = "" %>
<%= link_to user do %>
	<span class="dots">
		<%= user.first_name %>, <%= user.age %>
	</span>
<% end %>
<br>
<%= n %><%= user.gender.capitalize %><br>
<% if user.occupation? %>
	<%= user.occupation %><br>
<% end %>
<% if user.location? %>
	<i class='fa fa-map-marker' style="margin-left:2px;"></i>
	<%= user.try(:location) %><br>
<% elsif user.fb_location? %>
	<i class='fa fa-map-marker' style="margin-left:2px;"></i>
	<%= user.try(:fb_location) %><br>
<% end %>
<% if user.tag_line? %>
	<hr>
	<p class="center">
		"<%= user.tag_line %>"
	</p>
<% end %>