<div style="margin-bottom:5px;">
	<% if user.fb_image.present? %>
		<%= image_tag @trip.user.fb_image %>
	<% else %>
		<%= image_tag "blank_avatar.png" %>
	<% end %>
</div>
<% user.nationality.present? ? n = "#{User::NATIONALITIES[user.nationality]}, " : n = "" %>
<span class="dots">
	<%= user.first_name %>, <%= user.age %>
</span><br>
<%= n %><%= user.gender.capitalize %><br>
<% if user.occupation? %>
	<%= user.occupation %><br>
<% end %>
<% if user.fb_location? %>
	<i class='fa fa-map-marker' style="margin-left:2px;"></i>
	<%= user.try(:fb_location) %><br>
<% end %>
