<div class="row small-bottom-margin">
	<div class="col-md-6">
		<i class='fa fa-venus-mars' style="margin-right:17px;"></i> <%= user.age %>, <%= user.gender.capitalize %>
	</div>
	<div class="col-md-6">
		<% if user.occupation? %>
			<i class='fa fa-briefcase' style="margin-left:1px;margin-right:18px;"></i>
			<%= user.occupation %>
		<% end %>
	</div>
</div>
<div class="row small-bottom-margin">
	<div class="col-md-6">
		<% if user.location? %>
			<i class='fa fa-map-marker' style="margin-left:3px;margin-right:22px;"></i>
			<%= user.try(:location) %>
		<% elsif user.fb_location? %>
			<i class='fa fa-map-marker' style="margin-left:3px;margin-right:22px;"></i>
			<%= user.try(:fb_location) %>
		<% end %>
	</div>
	<div class="col-md-6">
		<% if user.education? %>
			<i class='fa fa-mortar-board' style="margin-left:0px;margin-right:15px;"></i>
			<%= user.try(:education) %>
		<% end %>

	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<% if user.language_blob? %>
			<i class='fa fa-comment-o' style="margin-right:20px;"></i>
			<% languages = user.language_blob.split(",").map {|l| User::LANGUAGES[l]} %>
			<%= languages.to_sentence %>
		<% end %>

	</div>
	<div class="col-md-6">
		<% if user.home_airport? %>
			<i class='fa fa-plane' style="margin-left:2px;margin-right:20px;"></i>
			<%= user.try(:home_airport) %>
		<% end %>
	</div>
</div>




