<div style="margin-bottom:10px;">
	<% current_user?(@user) ? image_path = user_photos_path(@user) : image_path = user_path(@user) %>
	<%= link_to image_path do %>
		<%= user_profile_image(@user, "large") %>
	<% end %>
</div>
<div style="margin-bottom:15px;">
	<% if current_user %>
		<%= render "users/relationships/forms" %>
	<% else %>
		<%= render "join_requests/fake_join_btn", btn_size: "btn-primary btn-sm btn-block", join_text: "Follow" %>
	<% end %>
</div>


<strong><%= link_to "ABOUT".html_safe, @user, class: "grey-very-dark-link" %></strong>
<ul class="list-unstyled" style="padding-left:17px;">
	<li><%= link_to "References (0)", @user, class: "grey-dark-link" %></li>
</ul>
<% current_user?(@user) ? trip_text = "MY TRIPS" : trip_text = "TRIPS" %>
<strong><%= link_to "#{trip_text}".html_safe, user_trips_path(@user), class: "grey-very-dark-link" %></strong>
<% query_param = request.query_parameters.first[0] if request.query_parameters.any? %>
<ul class="list-unstyled" style="padding-left:17px;">
	<% if current_user?(@user) && @trips_incomplete_count != 0 %>
  	<li><%= link_to "Incomplete (#{@trips_incomplete_count})", user_trips_path(@user, incomplete: true), class: "grey-dark-link #{get_tab_class(query_param, "incomplete")}" %></li>
	<% end %>
	<li><%= link_to "Accepting Companions (#{@trips_active_count})", user_trips_path(@user, active: true), class: "grey-dark-link #{get_tab_class(query_param, "active")}" %></li>
	<li><%= link_to "In Progress (#{@trips_in_progress_count})", user_trips_path(@user, in_progress: true), class: "grey-dark-link #{get_tab_class(query_param, "in_progress")}" %></li>
	<li><%= link_to "Completed (#{@trips_complete_count})", user_trips_path(@user, completed: true), class: "grey-dark-link #{get_tab_class(query_param, "completed")}" %></li>
	<% if current_user?(@user) %>
		<li><a href="" data-toggle="modal" data-target="#tripNewModal" href="#" role="button">new +</a></li>
	<% end %>
</ul>
<% if current_user?(@user) && !@user.verified %>
	<div class="row">
		<div class="col-md-12">
			<span class="red"><i class='fa fa-times-circle-o'></i> Account Not Verified</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= link_to 'click to resend email verification', user_resend_verification_path(current_user), disable_with: 'Sending...', class: "grey-dark-link" %>
		</div>
	</div>
<% end %>