<div style="margin-bottom:5px;">
	<%= link_to @user do %>
		<% if @user.fb_image.present? %>
			<%= image_tag "#{@user.fb_image}" + "?type=large", class: "profile-pic", title: @user.full_name %>
		<% else %>
			<%= image_tag "blank_avatar.png", class: "profile-pic", title: @user.full_name %>
		<% end %>
	<% end %>
</div>
<ul class="list-unstyled">
	<li><strong><%= link_to "<i class='fa fa-user' style='margin-right:2px;'></i> About".html_safe, @user, class: "grey-dark-link" %></strong></li>
	<li><strong><%= link_to "<i class='fa fa-plane' style='margin-right:2px;'></i> Trips".html_safe, user_trips_path(@user), class: "grey-dark-link" %></strong></li>
</ul>