<div class="container" style="margin-bottom:60px;">
	<div class="row top-margin">
		<div class="col-md-3">
			<div class="big" style="border-left: 2px solid black;">
				<% query_param = request.path_parameters[:action] %>
				<ul class="list-unstyled" style="padding-left:17px;">
				  <li><%= link_to "Edit Profile", edit_user_path(@user), class: "grey-dark-link #{get_tab_class(query_param, "edit")}" %></li>
					<li><%= link_to "Account", edit_user_path(@user), class: "grey-dark-link #{get_tab_class(query_param, "account")}" %></li>
					<li><%= link_to "Photos", edit_user_path(@user), class: "grey-dark-link #{get_tab_class(query_param, "photos")}" %></li>
					<li><%= link_to "Email Settings", edit_user_path(@user), class: "grey-dark-link #{get_tab_class(query_param, "emails")}" %></li>
					<li><%= link_to "Privacy", edit_user_path(@user), class: "grey-dark-link #{get_tab_class(query_param, "privacy")}" %></li>
					<li><%= link_to "Apps", edit_user_path(@user), class: "grey-dark-link #{get_tab_class(query_param, "apps")}" %></li>
				</ul>
			</div>
			<%= link_to "View Profile", @user, class: "btn btn-default", style: "width:100%;" %>
		</div>
		<%= form_for @user do |f| %>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">General</h3>
						  </div>
						  <div class="panel-body">
							
								<div class="row">
									<div class="col-md-2">
										<label class="pull-right">Status:</label>
									</div>
									<div class="col-md-10">
										<%= f.select :status, User::STATUS_ARRAY %>
									</div>
								</div>
								
								<hr>
								
								<div class="row small-bottom-margin">
									<div class="col-md-2">
										<label class="pull-right">Local Airport:</label>
									</div>
									<div class="col-md-10">
										<div class="prefetch">
											<input class="typeahead" type="text" name="user[home_airport]" placeholder="Airport nearest you..." style="width:500px;" value="<%= @user.home_airport %>" autocomplete="off">
										</div>
									</div>
								</div>
								
								<hr>
								
								<div class="row small-bottom-margin">
									<div class="col-md-2">
										<label class="pull-right">Location:</label>
									</div>
									<div class="col-md-10">
										<input name="user[location]" type="text" class="add-geocomplete" id="location" placeholder="Set your location" value="<%= @user.location %>" style="width:100%;" autocomplete="off">
									</div>
								</div>
								

								
								<div class="row small-bottom-margin">
									<div class="col-md-2">
										<label class="pull-right">Occupation:</label>
									</div>
									<div class="col-md-10">
										<%= f.text_field :occupation, style: "width: 100%;" %>
									</div>
								</div>
								
								<div class="row small-bottom-margin">
									<div class="col-md-2">
										<label class="pull-right">Education:</label>
									</div>
									<div class="col-md-10">
										<%= f.text_field :education, style: "width: 100%;" %>
									</div>
								</div>
								
								<div class="row small-bottom-margin">
									<div class="col-md-2">
										<label class="pull-right">Bio:</label>
									</div>
									<div class="col-md-10">
										<%= f.text_area :bio, placeholder: "Description...", rows: 3, autocomplete: :off, style: "padding-left:3px;border-color: #CCC; width:100%;" %>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										
									</div>
								</div>
						  </div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Travel Preferences</h3>
						  </div>
						  <div class="panel-body">
								
								<% User::PREFERENCES.each do |group| %>
									<div class="row small-bottom-margin">
										<div class="col-md-2">
											<label class="pull-right"><%= group[0].capitalize %>:</label>
										</div>
										<div class="radio" style="margin-top:0px;">
											<% group[2].each do |preference| %>
												<div class="col-md-2" style="width: 150px;">
												  <label>
												    <input type="radio" name="preference_tags[<%= group[0] %>]" class="fancyradio" value="<%= preference[1] %>" style="display:none;">
														<span><%= preference[0] %></span>
												  </label>
												</div>	
											<% end %>
										</div>
									</div>
								<% end %>

						  </div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Countries I've Visited</h3>
						  </div>
						  <div class="panel-body">
						    
						  </div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Languages</h3>
						  </div>
						  <div class="panel-body">
						    
						  </div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<%= f.submit "Save", class: "btn btn-danger pull-right" %>
						<%= link_to "Cancel", @user, class: "btn btn-default pull-right", style: "margin-right:10px;" %>
					</div>
				</div>
				
			</div>
		<% end %>
	</div>
</div>
