<div class="container" style="margin-bottom:60px;">
	<div class="row top-margin">
		<div class="col-md-3">
			<%= render "users/sidebar_edit", user: @user %>
		</div>
		<%= form_for @user do |f| %>
			<div class="col-md-9">

				<%= render "users/edit/general", user: @user, f: f %>
				<%= render "users/edit/travel_preferences", user: @user, f: f %>
				<%= render "users/edit/regions_following", user: @user, f: f %>
				<%= render "users/edit/languages_spoken", user: @user, f: f %>
				<%= render "users/edit/countries_visited", user: @user, f: f %>
				
				<div class="row">
					<div class="col-md-12">
						<%= f.submit "Save", data: { disable_with: "Saving..." }, class: "btn btn-danger pull-right" %>
						<%= link_to "Cancel", @user, class: "btn btn-default pull-right", style: "margin-right:10px;" %>
					</div>
				</div>
				
			</div>
		<% end %>
	</div>
</div>
