<div class="container" style="margin-bottom:60px;">
	<div class="row top-margin">
		<div class="col-md-3">
			<div class="big" style="border-left: 2px solid black;">
				<% query_param = request.path_parameters[:action] %>
				<ul class="list-unstyled" style="padding-left:17px;">
				  <li><%= link_to "Edit Profile", edit_user_path(@user), class: "grey-dark-link #{get_tab_class(query_param, "edit")}" %></li>
					<li><%= link_to "Account", edit_user_path(@user), class: "grey-dark-link #{get_tab_class(query_param, "account")}" %></li>
					<li><%= link_to "Photos", edit_user_path(@user), class: "grey-dark-link #{get_tab_class(query_param, "photos")}" %></li>
					<li><%= link_to "Email Settings", edit_user_path(@user), class: "grey-dark-link #{get_tab_class(query_param, "emails")}" %></li>
					<li><%= link_to "Privacy", edit_user_path(@user), class: "grey-dark-link #{get_tab_class(query_param, "privacy")}" %></li>
					<li><%= link_to "Apps", edit_user_path(@user), class: "grey-dark-link #{get_tab_class(query_param, "apps")}" %></li>
				</ul>
			</div>
			<%= link_to "View Profile", @user, class: "btn btn-default", style: "width:100%;" %>
		</div>
		<%= form_for @user do |f| %>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Overview</h3>
						  </div>
						  <div class="panel-body">
						    <%= f.text_area :bio, placeholder: "Description...", rows: 7, autocomplete: :off, style: "padding-left:3px;border-color: #DBDBDB; width:100%;margin-bottom:20px;" %>
						  </div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Overview</h3>
						  </div>
						  <div class="panel-body">
						    
						  </div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Overview</h3>
						  </div>
						  <div class="panel-body">
						    
						  </div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<%= f.submit "Save", class: "btn btn-danger pull-right" %>
						<%= link_to "Cancel", @user, class: "btn btn-default pull-right", style: "margin-right:10px;" %>
					</div>
				</div>
				
			</div>
		<% end %>
	</div>
</div>
