<div class="container" style="margin-bottom:60px;">
	<div class="row top-margin">
		<div class="col-md-3">
			<%= render "users/sidebar_edit", user: @user %>
		</div>
		<%= form_for @user do |f| %>
			<%= f.hidden_field :first_name %>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Email Settings</h3>
						  </div>
						  <div class="panel-body">							
								<% User::EMAILS_ARRAY.each do |email_array| %>
									<div class="row small-bottom-margin">
										<div class="col-md-12">
											<strong><%= email_array[0] %></strong>
										</div>
									</div>
									<% email_array[2].each do |email| %>
										<% @user.email_blob.include?(email[1]) ? checked_or_no = "checked" : checked_or_no = "" %>
										<div class="row">
											<div class="col-md-12">
												<div class="checkbox" style="margin-left:10px; margin-top:0px;margin-top:0px;">
											    <label>
											      <input type="checkbox" name="email_tags[<%= email[1] %>]" <%= checked_or_no %>> <%= email[0] %>
											    </label>
												</div>
											</div>
										</div>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<%= f.submit "Save", data: { disable_with: "Saving..." }, class: "btn btn-danger pull-right" %>
						<%= link_to "Cancel", @user, class: "btn btn-default pull-right", style: "margin-right:10px;" %>
					</div>
				</div>
				
			</div>
		<% end %>
	</div>
</div>
