#opaque-background
#home-background
  .container
    .row{style: "margin-top:140px;"}
      .span4.offset1
        .center
          .no-height
            .div{style: "position:relative; left: 70px; top: -50px;"}
              = image_tag "questionmark.png", class: "image questionmark"
          .no-height
            .div{style: "position:relative; right: 70px; top: -50px;"}
              = image_tag "http://graph.facebook.com/69901513/picture?type=square", class: "image"
          .no-height
            .div{style: "position:relative; right: 150px; top:35px;"}
              = image_tag "questionmark.png", class: "image questionmark"
          .no-height
            .div{style: "position:relative; right: 150px; top:155px;"}
              = image_tag "http://graph.facebook.com/69901513/picture?type=square", class: "image"
          .no-height
            .div{style: "position:relative; left: 150px; top:35px;"}
              = image_tag "http://graph.facebook.com/69901513/picture?type=square", class: "image"
          .no-height
            .div{style: "position:relative; left: 150px; top:155px;"}
              = image_tag "questionmark.png", class: "image questionmark"
          .no-height
            .div{style: "position:relative; left: 70px; top: 245px;"}
              = image_tag "http://graph.facebook.com/69901513/picture?type=square", class: "image"
          .no-height
            .div{style: "position:relative; right: 70px; top: 245px;"}
              = image_tag "http://graph.facebook.com/69901513/picture?type=square", class: "image"
          = image_tag "globe-icon-planes-250.png"
      .span4.offset1
        .well
          %h1 TripFloat
          %p Experience the world, meet new people!