<div id="home">
	<div id="home-background">
		<div class="container">
			<div class="row">
			  <div class="span4 offset1" style="padding-top:80px;">
					<%= scroll_reveal animation: 'enter after 2s and move 50px over 1s' do %>
						<%= render 'layouts/globe_faces' %>
					<% end %>
			  </div>
			  <div class="span5 offset1">
			    <div class="signup-well">
			      <h1 class="center black" style="font-size: 200%;">Matching travelers from all over the world into group trips</h1>
			      <hr/>
			      <h4 class="grey-dark">
			        1. Select your travel and group interests
			      </h4>
			      <h4 class="grey-dark">
			        2. Match with travelers of similar interests
			      </h4>
			      <h4 class="grey-dark">
			        3. Meet, Travel, and ENJOY the adventure!
			      </h4>
			      <hr/>
			      <% if current_user %>
			        <p class="black center">
			          You're signed up. Welcome to the community! Checkout your
			          <%= link_to "profile", user_profile_path(current_user) %>
			          to get started.
			        </p>
			      <% else %>
			        <%= link_to "<i class='icon-facebook' style='padding-right:5px;'></i> Sign in with Facebook".html_safe, "/auth/facebook", class: "btn btn-facebook", id: "sign_in" %>
			        <p class="black inline">
			          to get started!
			        </p>
			        <hr/>
			        <p class="small black"><%= t('application.root.name') %> does not post on your Facebook timeline or share your information with third parties.</p>
			      <% end %>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div id="home-background2" style="padding-top:100px;">

		<div class="row">
			<div class="span5 offset1">
				<%= scroll_reveal animation: 'enter left and move 50px over 1s' do %>
					<div class="box">
						<h4>Select your travel and group interests</h4>
							<p> <%= Faker::Lorem.paragraph %></p>
							<p> <%= Faker::Lorem.paragraph %></p>
							<p> <%= Faker::Lorem.paragraph %></p>
					</div>
				<% end %>
			</div>
			<div class="span5 offset1">
				<%= scroll_reveal animation: 'enter right and move 50px over 1s' do %>
					<%= image_tag "screen.png", class: "img-responsive" %>
				<% end %>
			</div>
		</div>
		<div style="min-height:300px;"></div>
		<div class="row">
			<div class="span5 offset1">
				<%= scroll_reveal animation: 'enter left and move 50px over 1s' do %>
					
					<div class="no-height">
						<%= image_tag "polaroid_blank.png", class: "img-responsive" %>
					</div>
					
					<%= image_tag "tripsharing_group_pic.jpg", class: "img-responsive slight-tilt-img" %>

				<% end %>
			</div>
			<div class="span5 offset1">
				<%= scroll_reveal animation: 'enter right and move 50px over 1s' do %>
					<div class="box">
						<h4>Select your travel and group interests</h4>
							<p> <%= Faker::Lorem.paragraph %></p>
							<p> <%= Faker::Lorem.paragraph %></p>
							<p> <%= Faker::Lorem.paragraph %></p>
					</div>
				<% end %>
			</div>
		</div>
		<div style="min-height:300px;"></div>
		
	</div>
	<div id="home-background3">
		<%= scroll_reveal animation: 'enter top and move 50px over 2s' do %>
			<div class="slogan-text mid">
				Travel is an experience you will always remember. It opens you up to meeting truly unique, interesting, and hilarious people.
			</div>
		<% end %>
		<div class="slogan-text bottom">
			Make your trip more than a destination and take a chance with new people, you might create a bond you never expected!
		</div>
		<div class="center">
			<button class="btn btn-default btn-lg" id="go-to-top">START</button>
		</div>
	</div>
</div>