#home-background
  .container
    .row
      .span4.offset1
        %h1.white
          .salmon.inline
            TripFloat
          = image_tag "airplane.png", style: "position:relative; left:-5px; top:-3px;"
        %br
        %br
        %br
        .center
          .no-height
            .div{style: "position:relative; left: 70px; top: -50px;"}
              = image_tag "questionmark.png", class: "image questionmark"
          .no-height
            .div{style: "position:relative; right: 70px; top: -50px;"}
              = image_tag "http://graph.facebook.com/69901513/picture?type=square", class: "image"
          .no-height
            .div{style: "position:relative; right: 150px; top:35px;"}
              = image_tag "questionmark.png", class: "image questionmark"
          .no-height
            .div{style: "position:relative; right: 150px; top:155px;"}
              = image_tag "http://graph.facebook.com/69901513/picture?type=square", class: "image"
          .no-height
            .div{style: "position:relative; left: 150px; top:35px;"}
              = image_tag "http://graph.facebook.com/69901513/picture?type=square", class: "image"
          .no-height
            .div{style: "position:relative; left: 150px; top:155px;"}
              = image_tag "questionmark.png", class: "image questionmark"
          .no-height
            .div{style: "position:relative; left: 70px; top: 245px;"}
              = image_tag "http://graph.facebook.com/69901513/picture?type=square", class: "image"
          .no-height
            .div{style: "position:relative; right: 70px; top: 245px;"}
              = image_tag "http://graph.facebook.com/69901513/picture?type=square", class: "image"
          = image_tag "globe-icon-planes-250.png"
          
      .span5.offset1
        .signup-well
          %h2 Signup for our beta release!
          = link_to "<i class='icon-facebook' style='padding-right:5px;'></i> Sign up with Facebook".html_safe, "/auth/facebook", class: "btn btn-facebook"
          %p Experience the world, meet new people!
    .row{style: "margin-top:100px;"}
      .span4.offset1


  = render 'layouts/footer'