#home-background
  .container
    - if current_user
      = render 'dashboard'
    - else
      .row
        .span4.offset1
          %h1.white#logo_main
            .no-height
              = image_tag "cloud.png", style: "position:relative; right:18px; top:-18px;"
            .salmon.inline{style: "position:relative; z-index:3;"}
              = link_to "TripSharing", root_url
            = image_tag "airplane.png", style: "position:relative; left:80px; top:28px;"
          %br
          %br
          %br
          %br
          .center
            .no-height
              .div{style: "position:relative; left: 70px; top: -50px;"}
                = image_tag "questionmark.png", class: "image questionmark"
            .no-height
              .div{style: "position:relative; right: 70px; top: -50px;"}
                = image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/274444_17602270_1994920605_q.jpg", class: "image"
            .no-height
              .div{style: "position:relative; right: 150px; top:35px;"}
                = image_tag "questionmark.png", class: "image questionmark"
            .no-height
              .div{style: "position:relative; right: 150px; top:155px;"}
                = image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/211861_54800471_499027771_q.jpg", class: "image"
            .no-height
              .div{style: "position:relative; left: 150px; top:35px;"}
                = image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t5/273198_1051999955_113368810_q.jpg", class: "image"
            .no-height
              .div{style: "position:relative; left: 150px; top:155px;"}
                = image_tag "questionmark.png", class: "image questionmark"
            .no-height
              .div{style: "position:relative; left: 70px; top: 245px;"}
                = image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t5/1076206_69901513_1031630042_q.jpg", class: "image"
            .no-height
              .div{style: "position:relative; right: 70px; top: 245px;"}
                = image_tag "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t5/41761_16808695_5273_q.jpg", class: "image"
            = image_tag "globe-icon-planes-250.png"
          
        .span5.offset1
          .signup-well
            %h2.center.turquoise Take a trip with people you don't know!
            %hr
            %h4.grey-dark
              1. Search travel groups
            %h4.grey-dark
              2. Join groups with mutual friends
            %h4.grey-dark
              3. Travel and meet!
            %hr
            %p.black{style: "line-height: 200%;"}
              = link_to "<i class='icon-facebook' style='padding-right:5px;'></i> Sign up with Facebook".html_safe, "/auth/facebook", class: "btn btn-facebook", id: "sign_in"
              to stay notified of our beta release!


  = render 'layouts/footer'