.row
  .span4.offset1
    %br
    %br
    %br
    %br
    .center
      .no-height
        .div{style: "position:relative; left: 70px; top: -50px;"}
          = image_tag "questionmark.png", class: "image questionmark"
      .no-height
        .div{style: "position:relative; right: 70px; top: -50px;"}
          = image_tag @fb_images_rand_5[0], class: "image"
      .no-height
        .div{style: "position:relative; right: 150px; top:35px;"}
          = image_tag "questionmark.png", class: "image questionmark"
      .no-height
        .div{style: "position:relative; right: 150px; top:155px;"}
          = image_tag @fb_images_rand_5[1], class: "image"
      .no-height
        .div{style: "position:relative; left: 150px; top:35px;"}
          = image_tag @fb_images_rand_5[2], class: "image"
      .no-height
        .div{style: "position:relative; left: 150px; top:155px;"}
          = image_tag "questionmark.png", class: "image questionmark"
      .no-height
        .div{style: "position:relative; left: 70px; top: 245px;"}
          = image_tag @fb_images_rand_5[3], class: "image"
      .no-height
        .div{style: "position:relative; right: 70px; top: 245px;"}
          = image_tag @fb_images_rand_5[4], class: "image"
      = image_tag "globe-icon-planes-250.png"
    
  .span5.offset1
    .signup-well
      %h2.center.black Matching travelers from all over the world into group trips
      %hr
      %h4.grey-dark
        1. Browse travel
      %h4.grey-dark
        2. Match with travelers of similar interests
      %h4.grey-dark
        3. Travel, meet, and enjoy the adventure!
      %hr
      - if current_user
        %p.black.center
          You're signed up. Welcome to the community! Checkout the
          = link_to "TripShares", trips_path
          to get started.
      - else
        = link_to "<i class='icon-facebook' style='padding-right:5px;'></i> Sign in with Facebook".html_safe, "/auth/facebook", class: "btn btn-facebook", id: "sign_in"
        %p.black.inline
          to get started!
        %hr
        %p.small.black #{t('application.root.name')} does not post on your Facebook timeline or share your information with third parties.


  