<div id="home">
	<div id="home-background">
		<div class="container">
			<div class="row">
			  <div class="span5" style="padding-top:80px;">
					<%= render 'layouts/globe_faces' %>
			  </div>
			  <div class="span5 offset1">
			    <div class="signup-well">
			      <h1 class="center black" style="font-size: 200%;">Matching travelers from all over the world into group trips</h1>
			      <hr/>
			      <h4 class="grey-dark">
			        1. Set your travel interests
			      </h4>
			      <h4 class="grey-dark">
			        2. Browse trips
			      </h4>
			      <h4 class="grey-dark">
			        3. Plan travel, meet new friends, ENJOY!
			      </h4>
			      <hr/>
			      <% if current_user %>
			        <p class="black center">
			          You're signed up. Welcome to the community! Checkout your
			          <%= link_to "profile", user_profile_path(current_user) %>
			          to get started.
			        </p>
			      <% else %>
			        <%= link_to "<i class='icon-facebook' style='padding-right:5px;'></i> Sign in with Facebook".html_safe, "/auth/facebook", class: "btn btn-facebook", id: "sign_in" %>
			        <p class="black inline">
			          to get started!
			        </p>
			        <hr/>
			        <p class="small black"><%= t('application.root.name') %> does not post on your Facebook timeline or share your information with third parties.</p>
			      <% end %>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div id="home-background2">
		<div class="row">
			<div class="span3 offset1">
				<div class="no-height" style="position:relative; top:20px; left:50px;">
					<%= scroll_reveal animation: 'enter bottom and move 50px over 1s' do %>
						<%= image_tag "shutterstock/map.jpg" %>
					<% end %>
				</div>
			</div>
			<div class="span3 offset2">

			</div>
			<div class="span3">

			</div>
		</div>
		<div class="row" style="margin-top:200px;">
			<div class="span5 offset1">
				<%= scroll_reveal animation: 'enter left and move 50px over 1s' do %>
					<div class="box">
						<h4>Set your travel interests</h4>
							<p>
								I want to travel with other <span class="salmon">singles near my hometown</span>
								to <span class="salmon">Hanoi, Vietnam</span>
								for <span class="salmon">a full week</span>
								this <span class="salmon">spring.</span>
								I'm interested in <span class="salmon">exploring the city</span>, <span class="salmon">backpacking</span>,
								<span class="salmon">food/wine</span>, and <span class="salmon">drinking with locals</span>.
							</p>
					</div>
				<% end %>
			</div>
			<div class="span1" style="padding-top:160px;">
				<div class="center">
					<%= scroll_reveal animation: 'enter wait 1.1s', class: "inline"  do %>
						<i class="fa fa-circle white"></i>
					<% end %>

					<%= scroll_reveal animation: 'enter wait 1.2s', class: "inline"  do %>
						<i class="fa fa-circle white" style="margin-left:10px;"></i>
					<% end %>
					<%= scroll_reveal animation: 'enter wait 1.3s', class: "inline"  do %>
						<i class="fa fa-circle white" style="margin-left:10px;"></i>
					<% end %>
				</div>
			</div>
			<div class="span5">
				<%= scroll_reveal animation: 'enter right and move 50px over 1s' do %>
					<%= image_tag "screen.png", class: "img-responsive" %>
				<% end %>
			</div>
		</div>
		
		<div class="row">
			<div class="span3 offset4">
				<div class="no-height" style="position:relative; top:20px; left:-50px;">
					<%= scroll_reveal animation: 'enter bottom and move 50px over 1s' do %>
						<%= image_tag "shutterstock/drink.jpeg" %>
					<% end %>
				</div>
			</div>
			<div class="span5">
				<% 10.times do |n| %>
					<div class="center">
						<%= scroll_reveal animation: "enter wait 1.#{n}s", class: "inline"  do %>
							<i class="fa fa-circle white" style="margin-bottom:10px;"></i>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
		
		<div class="row" style="margin-top:40px;">
			<div class="span5 offset1">
				<div class="right">
					<%= scroll_reveal animation: 'enter left and move 50px over 1s' do %>
						<%= image_tag "screen2.png", class: "img-responsive" %>
					<% end %>
				</div>
			</div>
			<div class="span1" style="padding-top:160px;">
				<div class="center">
					<%= scroll_reveal animation: 'enter wait 1.4s', class: "inline"  do %>
						<i class="fa fa-circle white"></i>
					<% end %>

					<%= scroll_reveal animation: 'enter wait 1.3s', class: "inline"  do %>
						<i class="fa fa-circle white" style="margin-left:10px;"></i>
					<% end %>
					<%= scroll_reveal animation: 'enter wait 1.2s', class: "inline"  do %>
						<i class="fa fa-circle white" style="margin-left:10px;"></i>
					<% end %>
				</div>
			</div>
			<div class="span5">
				<%= scroll_reveal animation: 'enter right and move 50px over 1s' do %>
					<div class="box">
						<h4>Browse trips</h4>
						<p>
							I'd like to find an <span class="salmon">inexpensive $</span> trip
							with a group of <span class="salmon">6 to 10</span>
							travelers who share at least 
							<span class="salmon">5 facebook <i class="fa fa-facebook"></i> friends</span> with me.
						</p>
					</div>
				<% end %>
			</div>
		</div>

		
		<div class="row">
			<div class="span5 offset1">
				<% 10.times do |n| %>
					<div class="center">
						<%= scroll_reveal animation: "enter wait 1.#{n}s", class: "inline"  do %>
							<i class="fa fa-circle white" style="margin-bottom:10px;"></i>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="span3 offset2">
				<div class="no-height" style="position:relative; top:30px; left:140px;">
					<%= scroll_reveal animation: 'enter bottom and move 50px over 1s' do %>
						<%= image_tag "shutterstock/lighthouse.jpeg" %>
					<% end %>
				</div>
			</div>
		</div>
		
		<div class="row" style="margin-top:20px;">
			<div class="span5 offset1">
				<%= scroll_reveal animation: 'enter left and move 50px over 1s' do %>
					<div class="box">
						<h4>Plan travel, meet new friends, ENJOY!</h4>
						<p>
							We shared a trip to <span class="salmon">Cartagena, Colombia</span> for
							8 days. Many of us created a bond through the wonderful experiences we had.
							<span class="salmon">13 of us friends</span>
							still keep in touch and share stories of the good times!
						</p>
					</div>
				<% end %>
			</div>
			<div class="span1" style="padding-top:160px;">
				<div class="center">
					<%= scroll_reveal animation: 'enter wait 1.1s', class: "inline"  do %>
						<i class="fa fa-circle white"></i>
					<% end %>

					<%= scroll_reveal animation: 'enter wait 1.2s', class: "inline"  do %>
						<i class="fa fa-circle white" style="margin-left:10px;"></i>
					<% end %>
					<%= scroll_reveal animation: 'enter wait 1.3s', class: "inline"  do %>
						<i class="fa fa-circle white" style="margin-left:10px;"></i>
					<% end %>
				</div>
			</div>
			<div class="span5">
				<%= scroll_reveal animation: 'enter right and move 50px over 1s' do %>
					<div class="no-height">
						<%= image_tag "polaroid_blank.png", class: "img-responsive" %>
					</div>
					<%= image_tag "tripsharing_group_pic.jpg", class: "img-responsive slight-tilt-img" %>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="no-height" style="position:relative; top:30px; left:140px;">
					<%= scroll_reveal animation: 'enter bottom and move 50px over 1s' do %>
						<%= image_tag "shutterstock/suitcase.jpeg" %>
					<% end %>
				</div>
			</div>
		</div>
		<div style="min-height:300px;"></div>
		
	</div>
	<div id="home-background3">
		<div style="min-height:360px;"></div>
		<%= scroll_reveal animation: 'enter top and move 50px over 2s' do %>
			<div class="slogan-text">
				"Travel is an experience you will always remember. It opens you up to meeting truly unique, interesting, and hilarious people."
			</div>
		<% end %>
		<!-- <div class="slogan-text bottom">
			Make your trip more than a destination and take a chance with new people, you might create a bond you never expected!
		</div> -->
		<div class="row" style="margin-top:30px;">
			<div class="center">
				<button class="btn btn-info btn-lg" id="go-to-top">I'M READ TO JOIN!</button>
			</div>
		</div>
	</div>
</div>