<div class="container focus">
	<br>
	<br>
	<div class="row">
		<div class="span12">
			<span class="white"><%= @users.size %> users</span>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="well">
				<table>
					<thead>
						<th>Locale</th>
						<th>Created</th>
						<th>ID</th>
						<th>FB-ID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Gender</th>
						<th>Birthyear</th>
						<th>Hometown</th>
						<th>FB url</th>
						<th>Tagline</th>
						<th>Bio</th>
						<th>Interests</th>
					</thead>
					<tbody>
						<% @users.each do |user| %>
							<tr>
								<td><%= user.fb_locale %></td>
								<td><%= user.created_at.strftime("%m/%e/%y %l:%M%P") %></td>
								<td><%= user.id %></td>
								<td><%= user.uid %></td>
								<td><%= link_to "#{user.full_name}", user %></td>
								<td><%= user.email %></td>
								<td><%= user.gender %></td>
								<td><%= user.birth_year %></td>
								<td><%= user.fb_hometown %></td>
								<td><%= link_to "FB url", user.fb_url, target: "_blank" %></td>
								<td><%= user.tag_line %></td>
								<td><%= truncate(user.bio, length: 10) %></td>
								<td><%= user.interests.where(has_it: true).size %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
