<div id="home-background3" style="min-height:0px;">
	<div class="container">
		<br>
		<br>
    <div class="well darken">
      <div class="row">
				<div class="span3">
          <%= image_tag current_user.fb_image, class: "image" %>
					<ul class="unstyled">
						<li><%= current_user.full_name %></li>
						<li><i class='fa fa-map-marker' style='padding-right:1px;padding-left:2px;'></i> <%= current_user.try(:fb_location) %></li>
						<li><i class='fa fa-plane'></i> <%= pluralize(current_user.trips.count, 'trip') %></li>
					</ul>
					<br>
					<div class="right">
						<h2 class="choice inactive"><span class="pull-left"><i class='fa fa-check'></i></span><%= link_to 'Interests', user_interests_path(current_user) %></h2>

						<h2 class="choice inactive"><span class="pull-left"><i class='fa fa-check'></i></span><%= link_to "Profile", user_profile_path(current_user) %></h2>

						<h2 class="choice active"><span class="pull-left">3.</span>JOIN!</h2>
					</div>
				</div>
        <div class="span8">
					<br>
					<div class="well">
					
						<h3><%= current_user.first_name %>,</h3>
						
						<h3>Thank you for joining our <span class='turquoise'>community</span>! We will alert you when trips matching your interests are open for applications.</h3>
						<h3>In the mean time, please share to help our community thrive!</h3>
						<br>
						<div class="row">
							<div class="span1" style="margin-left:17px;margin-right:5px;padding-top:5px;">
								<div class="fb-like" data-href="http://www.trip-sharing.com/" data-layout="button" data-show-faces="false" data-share="true" data-width="240"></div>
							</div>
							<div class="span2">
								<a href="http://www.trip-sharing.com/" class="twitter-share-button" data-url="http://www.trip-sharing.com/" data-text="JOIN Our Community! Matching travelers from all over the world into group trips." data-size="large" data-count="none" data-hashtags="TripSharing">Tweet</a>
							</div>
						</div>
						
						<h3>The next adventure with new friends is right around the corner.</h3>
						<br>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						
					</div>
        </div>
      </div>
			<br>
			<br>
			<div class="row">
				<div class="span3">

				</div>
				<div class="span8">
				</div>
			</div>
			<br>
			<br>
    </div>
	</div>
	<br>
	<br>
</div>