<div class="container" style="margin-bottom:60px;">
	<div class="row top-margin">
		<div class="col-md-3">
			<%= render "users/sidebar_edit", user: @user %>
		</div>

			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Profile image</h3>
						  </div>
						  <div class="panel-body">
																
								<div class="row">
									<div class="col-md-12">
										<% if @user.image_attachments.count != 0 %>
											<%= image_tag(@user.image_attachments.first.image.url(:small), class: "checkbox-image", size: "200x200").to_s %>
										<% elsif @user.fb_image.present? %>
											<%= image_tag "#{@user.fb_image}" + "?type=large", class: "profile-pic", title: @user.full_name %>
										<% else %>
											<%= image_tag "blank_avatar.png", class: "profile-pic", title: @user.full_name, size: "200x200" %>
										<% end %>
									</div>
								</div>
								<hr>
							  <div class="row" style="margin-top:10px;">
									<div class="col-md-12">
										<%= render "users/image_form" %>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
			</div>

	</div>
</div>
