<div class="container" style="margin-bottom:60px;">
	<div class="row top-margin">
		<div class="col-md-3">
			<%= render 'users/sidebar' %>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<h3 style="margin-top:15px;margin-bottom:20px;">
						<span class="dots"><%= @user.full_name %></span>
						<% if @user.status? %>
								<span class="dots-white" style="font-size: 60%;"><%= User::STATUS[@user.status] %></span>
						<% end %>
						<% if current_user?(@user) %>
							<%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_user_path(@user), class: "grey-link", title: "edit profile" %>
						<% end %>
					</h3>
				</div>
			</div>
			<div class="row top-margin">
				<div class="col-md-12">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				    <ul id="myTab" class="nav nav-tabs" role="tablist">
				      <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">About</a></li>
				      <!-- 
				 			<li role="presentation" class=""><a href="#feed" role="tab" id="feed-tab" data-toggle="tab" aria-controls="feed" aria-expanded="false">Activity Feed</a></li>
							-->
				    </ul>
					  <div class="tab-content">
				      <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
				        <%= render 'users/profile/main' %>
				      </div>
				      <div role="tabpanel" class="tab-pane fade" id="feed" aria-labelledby="feed-tab">
				        <%= render "users/timeline" %>
				      </div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

