<div class="container" style="margin-bottom:60px;">
	<div class="row top-margin">
		<div class="col-md-3">
			<%= render 'users/sidebar' %>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<h3 class="no-top-margin">
						<%= link_to "Incomplete", "#", class: "grey-dark-link" %> /
						<%= link_to "Accepting Travel Companions", "#" %> /
						<%= link_to "In Progress", "#", class: "grey-dark-link" %> / 
						<%= link_to "Complete", "#", class: "grey-dark-link" %>
					</h3>
				</div>
			</div>
			<div class="row">
				<% unless @my_trips.any? %>
					<em style="margin-left:10px;">none</em>
				<% end %>
				<% @my_trips.each do |trip| %>
					<%= render "trips/well", trip: trip %>
				<% end %>
			</div>
		</div>
	</div>
</div>

