<div class="modal fade" data-backdrop="static" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
    <div class="modal-content">
			<div class="modal-header">
				<div class="row">
					<div class="col-md-12">
						<h2>WELCOME TO <span id="logo" style="position:relative; top:0px; left:-5px;">Tripsharing</span></h2>
						<p class="small-top-margin"><%= t('application.root.slogan') %></p>
					</div>
				</div>
			</div>
			<%= form_for @welcome_user, multipart: true do |f| %>
				<div id="welcome-modal-content-2">
					<%= render "users/welcome/content_body2", f: f %>
		    </div>
				<div id="welcome-modal-content-3">
					<%= render "users/welcome/content_body3", f: f %>
		    </div>
				<div id="welcome-modal-content-4">
					<%= render "users/welcome/content_body4", f: f %>
		    </div>
			<% end %>

		</div>
	</div>
</div>