- if action_name == "home"
  %br
  .row
    .col-md-12
      .center
        .fb-like{"data-href" => "#{t('application.root.fb_url')}", "data-layout" => "button_count", "data-action" => "like", "data-send" => "false", "data-show-faces" => "false", "data-width" => "220"}
  .row
    .col-md-12
      .center
        .div{style: "padding-left:30px;"}
          %a.twitter-share-button{"data-counturl" => "http://www.trip-sharing.com/", "data-text" => "Plan a trip with people you don't know!", "data-url" => "http://www.trip-sharing.com/", "data-via" => "Tripsharing_", href: "https://twitter.com/share"} Tweet
  %br
.row
  .col-md-12
    .center
      .title About
      %p= t('application.root.long_description')
      .title Connect with us
      = link_to "https://twitter.com/Tripsharing_", target: "_blank" do
        @Tripsharing_
      %br
      = mail_to "info@trip-sharing.com", "info@trip-sharing.com", target: "_blank"
.row
  .col-md-12
    .center.small{ style: "padding-top:3px;"}
      © #{t('application.root.name')} Inc. 2014