<header>
	<nav class="navbar">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <%= link_to image_tag("globe-icon-planes-30.png"), root_url, style: "position:relative; top:10px;", id: "globe" %>
	      <%= link_to "Tripsharing".html_safe, root_url, id: "logo" %>
	    </div>
			
			<!--<a href="/trips" class="btn btn-default pull-left" style="margin-top:8px;margin-left:10px; border-color:white;" href="#" role="button"><i class="fa fa-list" style="margin-right:5px;"></i> Browse Trips</a> -->
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <% if current_user %>
	          <ul class="nav pull-right visible-desktop">
	            <li class="dropdown">
	              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<% if current_user.image_attachments.count != 0 %>
										<%= image_tag(current_user.image_attachments.last.image.url(:thumb), id: "image-dropdown", size: "30x30" ).to_s %>
	                <% elsif current_user.fb_image %>
	                  <%= image_tag current_user.fb_image, size: "30x30", id: "image-dropdown" %>
	                <% else %>
	                  <%= image_tag "default_profile_image.png", size: "30x30", id: "image-dropdown" %>
	                <% end %>
	                <b class="caret"></b>
	              </a>
	              <ul class="dropdown-menu">
								<%= render 'layouts/header_nav_list' %>
	              </ul>
	            </li>
	          </ul>
					<% else %>
						<div style="margin-top:8px">
							<%= render "sessions/signup_buttons" %>
						</div>
						
	        <% end %>
	      </ul>
				<% if current_user %>
					<%= render "layouts/noticebar" %>
				<% end %>
				
				<% unless @remove_start_trip_button %>
					<a href="" data-toggle="modal" data-target="#tripNewModal" class="btn btn-salmon pull-left" style="margin-top:8px;margin-left:30px;" href="#" role="button"><i class="fa fa-plane" style="margin-right:5px;"></i> Plan A Trip</a>
					<%= render "trips/trip_new_modal" %>
				<% end %>
				<% if current_user %>

					<%= link_to "<i class='fa fa-list' style='margin-right:4px;'></i> Browse".html_safe, trips_path, class: "btn btn-default",  style: "margin-top:10px;margin-left:10px; border:none;" %>

					<div class="col-md-3 pull-right" style="padding-top:7px;">

						<div class="prefetch">
							<input class="user-typeahead" type="text" style="width:300px;" name="search" placeholder="Search Members" autocomplete="off">
						</div>
					</div>
				<% end %>
				
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
</header>
