<ul class="nav navbar-nav noticebar navbar-right" style="margin-right:20px;">
  <li class="dropdown">
    <a href="./page-notifications.html" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-bell"></i>
      <span class="navbar-visible-collapsed">&nbsp;Notifications&nbsp;</span>
			<!-- 
			<span class="badge">3</span>
			 -->
      
    </a>

    <ul class="dropdown-menu noticebar-menu" role="menu">
      <li class="nav-header">
        <div class="pull-left">
          Notifications
        </div>
				<!-- 
				<div class="pull-right">
          <a href="javascript:;">Mark as Read</a>
        </div>
				 -->
      </li>
			
			<li class="noticebar-empty">                  
        <h4 class="noticebar-empty-title">No notifications here.</h4>
        <p class="noticebar-empty-text">Check back later!</p>                
      </li>
			
			<!-- 
			<li>
        <a href="./page-notifications.html" class="noticebar-item">
          <span class="noticebar-item-image">
            <i class="fa fa-cloud-upload text-success"></i>
          </span>
          <span class="noticebar-item-body">
            <strong class="noticebar-item-title">Templates Synced</strong>
            <span class="noticebar-item-text">20 Templates have been synced to the Mashon Demo instance.</span>
            <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> 12 minutes ago</span>
          </span>
        </a>
      </li>

      <li>
        <a href="./page-notifications.html" class="noticebar-item">
          <span class="noticebar-item-image">
            <i class="fa fa-ban text-danger"></i>
          </span>
          <span class="noticebar-item-body">
            <strong class="noticebar-item-title">Sync Error</strong>
            <span class="noticebar-item-text">5 Designs have been failed to be synced to the Mashon Demo instance.</span>
            <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> 20 minutes ago</span>
          </span>
        </a>
      </li>
			 -->

			<!-- 
			<li class="noticebar-menu-view-all">
        <a href="./page-notifications.html">View All Notifications</a>
      </li>
			 -->
    </ul>
  </li>


  <li class="dropdown">
    <a href="./page-notifications.html" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-envelope"></i>
      <span class="navbar-visible-collapsed">&nbsp;Messages&nbsp;</span>
			<% if @new_messages_count != 0 %>
				<span class="badge"><%= @new_messages_count %></span>
			<% end %>
    </a>

    <ul class="dropdown-menu noticebar-menu" role="menu" style="max-height:400px; overflow:scroll;">                
      <li class="nav-header">
        <div class="pull-left">
          Messages
        </div>
				
				<% if current_user %>
					<!-- 
					<div class="pull-right">
						<%= link_to "New Message", user_contacts_path(current_user) %>
	        </div>
					 -->
				<% end %>
      </li>

			<% if @new_join_requests_and_messages.any? %>
				<% @new_join_requests_and_messages.sort_by{|e| e[:created_at]}.reverse.each do |new_item| %>
					<% if new_item.class.to_s == "JoinRequest" %>
						<% path = user_join_requests_path(current_user) %>
						<% title = "New Join Request" %>
					<% elsif new_item.class.to_s == "Message" %>
						<% path = user_message_path(current_user, new_item) %>
						<% title = "New Message" %>
					<% end %>
					<li>
		        <a href="<%= path %>" class="noticebar-item">
		          <span class="noticebar-item-image">
								<%= user_image(new_item.user) %>
		          </span>

		          <span class="noticebar-item-body">
		            <strong class="noticebar-item-title"><%= title %></strong>
		            <span class="noticebar-item-text"><%= truncate(new_item.content, length: 59) %></span>
		            <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(new_item.created_at) %> ago</span>
		          </span>
		        </a>
		      </li>
				<% end %>
			<% else %>
				<li class="noticebar-empty">                  
	        <h4 class="noticebar-empty-title">No new messages.</h4>
	      </li>
			<% end %>


      <li class="noticebar-menu-view-all">
				<%= link_to "View Inbox", user_messages_path(current_user) %>
      </li>
    </ul>
  </li>
	
	<!-- 
  <li class="dropdown">
    <a href="/product_team" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-exclamation-triangle"></i>
      <span class="navbar-visible-collapsed">&nbsp;Alerts&nbsp;</span>
    </a>

    <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">                
      <li class="nav-header">
        <div class="pull-left">
          Alerts
        </div>
      </li>

      <li class="noticebar-empty">                  
        <h4 class="noticebar-empty-title">No alerts here.</h4>
        <p class="noticebar-empty-text">Check out what other makers are doing on Explore!</p>                
      </li>
    </ul>
  </li>
	-->
</ul>