<ul class="nav navbar-nav noticebar navbar-right" style="margin-right:20px;">
  <li class="dropdown">
    <a href="/viewed_notification_badges" class="dropdown-toggle" data-toggle="dropdown" data-method="put" data-remote="true">
      <i class="fa fa-bell"></i>
      <span class="navbar-visible-collapsed">&nbsp;Notifications&nbsp;</span>
			<% if @new_notifications_count != 0 %>
				<span class="badge" id="new-notifications-badge"><%= @new_notifications_count %></span>
			<% end %>
			<!-- 
			<span class="badge">3</span>
			 -->
      
    </a>

    <ul class="dropdown-menu noticebar-menu" role="menu" style="max-height:400px; overflow:scroll;">
      <li class="nav-header">
        <div class="pull-left">
          Notifications
        </div>
				<!-- 
				<div class="pull-right">
          <a href="javascript:;">Mark as Read</a>
        </div>
				 -->
      </li>
			<% if @new_notifications.any? %>
				<% @new_notifications.each do |notification| %>
					<% case notification.trigger_code %>
					<% when "O" %>
						<% user = notification.notificationable %>
						<li>
			        <a href="<%= user_path(user) %>" class="noticebar-item">
			          <span class="noticebar-item-image">
									<%= user_image(user) %>
			          </span>

			          <span class="noticebar-item-body">
			            <strong class="noticebar-item-title"><%= user.full_name %></strong>
			            <span class="noticebar-item-text">has followed one of your trips.</span>
			            <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(notification.created_at) %> ago</span>
			          </span>
			        </a>
			      </li>
					<% when "H" %>
						<% join_request = notification.notificationable %>
						<li>
			        <a href="<%= trip_path(join_request.trip) %>" class="noticebar-item">
			          <span class="noticebar-item-image">
			            <i class="fa fa-suitcase salmon"></i>
			          </span>
			          <span class="noticebar-item-body">
			            <strong class="noticebar-item-title">Join Request Accepted!</strong>
			            <span class="noticebar-item-text">You have been accepted to join <%= join_request.trip.name %>.</span>
			            <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(notification.created_at) %> ago</span>
			          </span>
			        </a>
			      </li>
					<% when "Q" %>
						<% user = notification.notificationable %>
						<li>
			        <a href="<%= user_path(user) %>" class="noticebar-item">
			          <span class="noticebar-item-image">
									<%= user_image(user) %>
			          </span>

			          <span class="noticebar-item-body">
			            <strong class="noticebar-item-title"><%= user.full_name %></strong>
			            <span class="noticebar-item-text">is now following you.</span>
			            <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(notification.created_at) %> ago</span>
			          </span>
			        </a>
			      </li>
					<% end %>
				<% end %>
			<% else %>
				<li class="noticebar-empty">                  
	        <h4 class="noticebar-empty-title">No new notifications.</h4>
	        <p class="noticebar-empty-text">Check back later!</p>                
	      </li>
			<% end %>
			

			
			<li class="noticebar-menu-view-all">
				<%= link_to "View All Notifications", user_notifications_path(current_user) %>
      </li>
			
    </ul>
  </li>


  <li class="dropdown">
    <a href="/viewed_message_badges" class="dropdown-toggle" data-toggle="dropdown" data-method="put" data-remote="true">
      <i class="fa fa-envelope"></i>
      <span class="navbar-visible-collapsed">&nbsp;Messages&nbsp;</span>
			<% if @new_messages_count != 0 %>
				<span class="badge" id="new-messages-badge"><%= @new_messages_count %></span>
			<% end %>
    </a>

    <ul class="dropdown-menu noticebar-menu" role="menu" style="max-height:400px; overflow:scroll;">                
      <li class="nav-header">
        <div class="pull-left">
          Messages
        </div>
				
				<% if current_user %>
					<!-- 
					<div class="pull-right">
						<%= link_to "New Message", user_contacts_path(current_user) %>
	        </div>
					 -->
				<% end %>
      </li>

			<% if @new_join_requests_and_messages.any? %>
				<% @new_join_requests_and_messages.sort_by{|e| e[:created_at]}.reverse.each do |new_item| %>
					<% if new_item.class.to_s == "JoinRequest" %>
						<% path = user_join_requests_path(current_user) %>
						<% title = "New Join Request" %>
					<% elsif new_item.class.to_s == "Message" %>
						<% path = user_message_path(current_user, new_item) %>
						<% title = "New Message" %>
					<% end %>
					<li>
		        <a href="<%= path %>" class="noticebar-item">
		          <span class="noticebar-item-image">
								<%= user_image(new_item.user) %>
		          </span>

		          <span class="noticebar-item-body">
		            <strong class="noticebar-item-title"><%= title %></strong>
		            <span class="noticebar-item-text"><%= truncate(new_item.content, length: 59) %></span>
		            <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(new_item.created_at) %> ago</span>
		          </span>
		        </a>
		      </li>
				<% end %>
			<% else %>
				<li class="noticebar-empty">                  
	        <h4 class="noticebar-empty-title">No new messages.</h4>
	      </li>
			<% end %>


      <li class="noticebar-menu-view-all">
				<%= link_to "View Inbox", user_messages_path(current_user) %>
      </li>
    </ul>
  </li>
	
	<!-- 
  <li class="dropdown">
    <a href="/product_team" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-exclamation-triangle"></i>
      <span class="navbar-visible-collapsed">&nbsp;Alerts&nbsp;</span>
    </a>

    <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">                
      <li class="nav-header">
        <div class="pull-left">
          Alerts
        </div>
      </li>

      <li class="noticebar-empty">                  
        <h4 class="noticebar-empty-title">No alerts here.</h4>
        <p class="noticebar-empty-text">Check out what other makers are doing on Explore!</p>                
      </li>
    </ul>
  </li>
	-->
</ul>