<!-- begin #sidebar -->
<div class="sidebar">
	<div class="row">
		<div class="col-md-12">
			<h2>SEARCH:</h2>
		</div>
	</div>
	<div class="row" style="padding-left:20px;margin-top:10px;">
		<div class="col-md-12">
			<%= form_tag trips_path, :method => 'get' do %>
				<%= hidden_field_tag :search, "true" %>
				<div class="row"><div class="col-md-12">Show trips going to:</div></div>
				<div class="row bottom-margin-small">
					<div class="col-md-12">
						<%= select_tag :region, options_for_select(Trip::REGIONS_ARRAY, selected: params[:region]), { prompt: "anywhere" } %>
					</div>
				</div>
				<div class="row bottom-margin-small">
					<div class="col-md-2">From:</div>
					<div class="col-md-10"><input class="datepicker" placeholder="mm/dd/yyyy" name="departs_at" data-date-format="mm/dd/yyyy" value="<%= params[:departs_at] %>"></div>
				</div>
				<div class="row bottom-margin-small">
					<div class="col-md-2">To:</div>
					<div class="col-md-10"><input class="datepicker" placeholder="mm/dd/yyyy" name="returns_at" data-date-format="mm/dd/yyyy" value="<%= params[:returns_at] %>"></div>
				</div>
				<div class="row bottom-margin-small">
					<div class="col-md-12">
						<button class="btn btn-default btn-sm" data-disable-with="Please wait..." style="margin-right:10px;">
		          <i class="fa fa-search"></i> Search
		        </button>
					</div>
				</div>

			<% end %>
		</div>
	</div>
	<hr>
	<div class="row" style="margin-bottom:5px;margin-top:10px;">
		<div class="col-md-12">
			<h2 style="position:relative; top:6px;">MY TRIPS:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% unless @my_trips.any? %>
				<em style="margin-left:10px;">none</em>
			<% end %>
			<ul class="list-unstyled">
				<% @my_trips.each do |trip| %>
					<%= render "trips/sidebar_list_item", trip: trip %>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>WATCHING:</h2>
			<em style="margin-left:10px;">none</em>
		</div>
	</div>
</div>
