<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for?(:title) ? yield(:title) : t('application.root.title') %></title>

	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('application.root.description') %>">

  <link rel="image_src" href="<%= content_for?(:image_path) ? yield(:image_path) : image_path('globe-icon-planes-250.png') %>"/>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
	
  <%= render 'layouts/shim' %>
  <%= render 'layouts/google_analytics' %>
	<%= render 'layouts/olark' %>
	
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
</head>
<body>
	<script>
		window.fbAsyncInit = function() {
	    FB.init({
	      appId      : <%= ENV['FACEBOOK_APP_ID'] %>,
	      xfbml      : true,
	      version    : 'v2.2'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<div id="content">
		<%= render 'shared/social_media_script' %>
		<%= render 'layouts/header' %>
		<%= render 'shared/flash', flash: flash %>
		<% if params[:welcome] == "1" %>
			<%= render 'users/welcome/welcome_modal' %>
		<% end %>
		<div id="page-<%= controller_name %>-<%= action_name %>">

		  <div id="main">
		  	<%= yield %>
		  </div>

			<%= render 'layouts/footer' %>
		</div>
	</div>
</body>
</html>