<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for?(:title) ? yield(:title) : t('application.root.title') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('application.root.description') %>">
  <link rel="image_src" href="<%= content_for?(:image_path) ? yield(:image_path) : image_path('globe-icon-planes-250.png') %>"/>
	
  <%= render 'layouts/shim' %>
  <%= render 'layouts/google_analytics' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/olark' %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
	
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=202675899939324&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
  <%= render 'shared/social_media_script' %>
	<% if controller_name == 'static_pages' && action_name == 'home' %>
		<div id="spinner"></div>
	<% end %>
	<% unless controller_name == 'static_pages' || controller_name == 'sessions' %>
		<%= render 'layouts/header' %>
	<% end %>
	<%= render 'shared/flash', flash: flash %>
	<div id="page-<%= controller_name %>-<%= action_name %>">
	  <%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>