<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Tripsharing</title>
		<style type="text/css">
			body {
				color: #153643; 
				font-family: Arial, sans-serif; 
				font-size: 16px; 
				line-height: 20px;
			}
			.small {font-size: 12px;}
			#footer {
				color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;
			}
			#footer a {color: #ffffff}
		</style>
	</head>
	<body>
		<table border="0" ceddpadding="0" cellspacing="0" width="100%">
			<tr>
				<td>
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td align="center" bgcolor="#ffffff" style="padding: 20px 0 10px 0;">
								<%= link_to image_tag("trip-sharing-logo-white.png", alt: "Tripsharing"), root_url %>
							</td>
						</tr>
						<tr>
							<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
								<%= yield %>
							</td>
						</tr>
						<tr>
						  <td style="padding:0px 30px 0px 30px;">
						    The Tripsharing Team
						  </td>
						</tr>
						<tr>
						  <td style="padding:0px 30px 20px 30px;">
								info@trip-sharing.com
						  </td>
						</tr>
						<tr>
							<td bgcolor="#D27D66" style="padding: 30px 30px 30px 30px;">
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td id="footer" width="75%">
											
											 <%= t('application.root.slogan') %>
											<!--
											 <a href="#">Unsubscribe</a> to this newsletter instantly
											-->
										</td>
										<td align="right" width="25%">
											<table border="0" cellpadding="0" cellspacing="0">
												<tr>
													<td>
														<%= link_to "https://twitter.com/Trip_Sharing" do %>
															<%= image_tag("social_icons/twitter_circle_color-38.png", alt: "Twitter", style: "width:38px;height:38px;") %>
														<% end %>
													</td>
													<td style="font-size: 0; line-height: 0;" width="2">&nbsp;</td>
													<td>
														<%= link_to "https://www.facebook.com/trip.sharing.1" do %>
															<%= image_tag("social_icons/facebook_circle_color-38.png", alt: "Twitter", style: "width:38px;height:38px;") %>
														<% end %>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="padding: 0px 60px">
								<p style="font-size:65%; line-height:110%; margin-top:10px;">Tripsharing is a Global Travel Community. Plan travel and meet new friends who share similar interests. Create an experience that will last a lifetime!
								<br>
								<br>	
									Copyright © 2015 Tripsharing, All rights reserved.
								<% if @email_type.present? %>
									You are receiving this email because you opted in at our website. If you prefer not to receive emails from Tripsharing, you may
									<%= link_to 'unsubscribe', unsubscribe_url(unsubscribe_id: @user_verification_token, email_type: @email_type) %>.
								<% end %>	
								Please direct any inquiries to
								<a href="mailto:info@trip-sharing.com?subject=Support%20Request" title="info@trip-sharing.com">info@trip-sharing.com</a>.</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>